In [1]:
#JesseRuiz_Capstoneproject_PredictingRecidivisminDomesticViolence_Phase2

# PLAN - PHASE 2

0. [x] Get the data.
0. [ ] Prepare the data for exploration.
0. [ ] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [2]:
# basic environment and custom scripts
import os
import acquire
import prepare
import explore
# from prepare import rename_columns
# from prepare import replace_nonvals
# from prepare import value_counts

# numpy and pandas for dataframe building and manipulation
import pandas as pd
import numpy as np
%matplotlib inline

# matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns

# import preprocessing for scaling and splitting
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# xgboost for feature selection
import xgboost as xgb

# Grid search
from sklearn.model_selection import GridSearchCV

# sklearn machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import cross_val_score

#  balanced bagging classifier
from imblearn.ensemble import BalancedBaggingClassifier

from functools import reduce

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

# PHASE 2 INFORMATION

## During phase 2, we look at a subset of our dataframe (705 cases/respondents) and examine the 497 AW (Abused Woman) cases where there was multiple cases of assault (re-assault).
* The target variable changes from Abuse_past_year to Reassault.
* The focus shifts to analyzing the features that predict that there will be reassault, instead of analyzing when there will be abuse or not.

# ACQUISITION

## Dataframes 6 & 11 contain information on AW (Abused Woman) cases.

In [4]:
dfa, dfb = acquire.get_data()

In [5]:
# dfa is datasets 1, 2, 3, 4, 5, 7. All cases AW and NAW.
dfa.head()

,CASEID,ABUSED,SCRSTATR,LENGTHC1,C1SITUAT,PABUSE,D3RCHILT,E13PRGNT,N7PREGNT,TOTSUPRT,...,N16CHILD,N17ARRST,N1FRQNCY,N2SVRITY,N3WEAPON,N4CHOKE,N5SEX,N6CONTRL,N8JEALUS,N10CPBLE
0,108395,1,1,1,1,1,1,3,2,9,...,2,2,2,2,2,2,2,2,2,2
1,108397,1,1,2,1,1,0,3,3,11,...,2,1,2,1,1,1,1,2,1,1
2,108399,1,1,5,1,1,6,3,2,9,...,2,2,2,2,2,1,2,2,2,2
3,108443,1,1,2,1,1,0,1,2,12,...,2,1,2,2,1,1,2,1,2,2
4,108444,1,1,2,1,1,1,2,2,11,...,2,1,1,1,2,2,2,2,2,2

In [6]:
# dfb is datasets 6 & 11. AW cases only.
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

# Examine dfb in more detail. Use custom functions from prepare script to take information from df10 and create a column that shows which cases had repeat offenses.

In [7]:
dfb['RECID'] = dfb.CASEID.apply(prepare.get_repeat_case)

In [8]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG,RECID
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

# Clean up the dataset for exploration...

In [9]:
dfb.columns

Index(['CASEID', 'M5FIRED', 'M11HIGH', 'M35SAFE', 'M41ILLGL', 'M42DAGRR',
       'M13TALKR', 'M32OTHER', 'M27HOW', 'M30ARRES', 'M31HOW', 'M38ORDER',
       'SEVERER', 'TOTINCR', 'THREATR', 'SLAPR', 'PUNCHR', 'BEATR', 'UWEAPON',
       'FORCEDR', 'MISCARR', 'RESTRAIN', 'CHOKED', 'NDRUNK', 'RDRUNK',
       'BOTHDRUN', 'NDRUGS', 'RDRUGS', 'BOTHDRUG', 'RECID'],
      dtype='object')

In [10]:
prepare.rename_columns_recid(dfb)

In [11]:
dfb.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,left_or_not,medical_staff_helpful,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

In [12]:
prepare.value_counts(dfb)

# for col in dfb.columns:
# #         n = dfb[col].unique().shape[0]
# #         col_bins = min(n, 10)
#         print(f'{col}:')
#         if dfb[col].dtype in ['int64', 'float64']:
#             print(dfb[col].value_counts(sort=False, dropna=False))
#         else:
#             print(dfb[col].value_counts(dropna=False))
#         print('\n')

id

-------------------------------------------------------------

gun_fired
1        10
2        41
9999    444
999       2
Name: gun_fired, dtype: int64

-------------------------------------------------------------

anyone_high
1      101
2      389
888      2
999      5
Name: anyone_high, dtype: int64

-------------------------------------------------------------

safe_place
1      391
2       97
999      9
Name: safe_place, dtype: int64

-------------------------------------------------------------

forced_illegal
1       86
2      402
999      9
Name: forced_illegal, dtype: int64

-------------------------------------------------------------

life_danger
0      240
1      249
999      8
Name: life_danger, dtype: int64

-------------------------------------------------------------

talk_about_it
1      352
2      140
999      5
Name: talk_about_it, dtype: int64

-------------------------------------------------------------

left_or_not
(10.911000000000001, 19.8]    125
(19.8, 28.6]                   20
(28.6, 37.4]                   17
(37.4, 46.2]                   36
(46.2, 55.0]                    0
(55.0, 63.8]                    0
(63.8, 72.6]                    0
(72.6, 81.4]                    0
(81.4, 90.2]                    0
(90.2, 99.0]                  299
Name: left_or_not, dtype: int64

-------------------------------------------------------------

medical_staff_helpful
11         7
21         7
22         6
23         3
24         2
31         9
32         5
33         7
41         2
7777      11
99999    430
9999       8
Name: medical_staff_helpful, dtype: int64

-------------------------------------------------------------

perp_arrested_ever
0       70
1       83
2       34
3      304
999      6
Name: perp_arrested_ever, dtype: int64

-------------------------------------------------------------

police_resp
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: police_resp, dtype: int64

-------------------------------------------------------------

order_protection
1        24
2        39
3       427
9999      1
999       6
Name: order_protection, dtype: int64

-------------------------------------------------------------

level_severity
1    255
2    238
9      4
Name: level_severity, dtype: int64

-------------------------------------------------------------

num_incidents
1      143
2      167
3       74
4      109
999      4
Name: num_incidents, dtype: int64

-------------------------------------------------------------

num_threats
0      388
1       45
2       19
3       19
4       22
999      4
Name: num_threats, dtype: int64

-------------------------------------------------------------

num_slapping
0      215
1      123
2       79
3       40
4       36
999      4
Name: num_slapping, dtype: int64

-------------------------------------------------------------

num_punching
0      255
1      116
2       74
3       28
4       20
999      4
Name: num_punching, dtype: int64

-------------------------------------------------------------

num_beating
0      316
1      116
2       45
3       11
4        5
999      4
Name: num_beating, dtype: int64

-------------------------------------------------------------

num_weapon
0      432
1       49
2        9
3        2
8        1
999      4
Name: num_weapon, dtype: int64

-------------------------------------------------------------

num_forced_sex
0      374
1       57
2       25
3       17
4       20
999      4
Name: num_forced_sex, dtype: int64

-------------------------------------------------------------

miscarriage_resulted
0      481
1       12
999      4
Name: miscarriage_resulted, dtype: int64

-------------------------------------------------------------

restrained_by_perp
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: restrained_by_perp, dtype: int64

-------------------------------------------------------------

num_choked
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: num_choked, dtype: int64

-------------------------------------------------------------

num_perp_drunk
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drunk, dtype: int64

-------------------------------------------------------------

num_woman_drunk
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: num_woman_drunk, dtype: int64

-------------------------------------------------------------

num_both_drunk
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: num_both_drunk, dtype: int64

-------------------------------------------------------------

num_perp_drugs
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drugs, dtype: int64

-------------------------------------------------------------

num_woman_drugs
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_woman_drugs, dtype: int64

-------------------------------------------------------------

num_both_drugs
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: num_both_drugs, dtype: int64

-------------------------------------------------------------

reassault
0    147
1    350
Name: reassault, dtype: int64

-------------------------------------------------------------

In [13]:
prepare.replace_nonvals_recid(dfb)

In [14]:
dfb.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,left_or_not,medical_staff_helpful,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,0,0,1,0,0,1,0,0,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,0,0,1,0,0,1,0,0,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,0,0,1,0,0,1,0,0,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,0,0,1,0,0,1,1,0,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,0,1,1,0,0,1,0,0,3,...,0,0,0,3,0,0,0,0,0,1

In [15]:
# Check the value counts of the columns to make sure the function worked
prepare.value_counts(dfb)

id

-------------------------------------------------------------

gun_fired
0    487
1     10
Name: gun_fired, dtype: int64

-------------------------------------------------------------

anyone_high
0    396
1    101
Name: anyone_high, dtype: int64

-------------------------------------------------------------

safe_place
0    106
1    391
Name: safe_place, dtype: int64

-------------------------------------------------------------

forced_illegal
0    411
1     86
Name: forced_illegal, dtype: int64

-------------------------------------------------------------

life_danger
0    248
1    249
Name: life_danger, dtype: int64

-------------------------------------------------------------

talk_about_it
0    145
1    352
Name: talk_about_it, dtype: int64

-------------------------------------------------------------

left_or_not
0    372
1    125
Name: left_or_not, dtype: int64

-------------------------------------------------------------

medical_staff_helpful
0     449
11      7
21      7
22      6
23      3
24      2
31      9
32      5
33      7
41      2
Name: medical_staff_helpful, dtype: int64

-------------------------------------------------------------

perp_arrested_ever
0       70
1       83
2       34
3      304
999      6
Name: perp_arrested_ever, dtype: int64

-------------------------------------------------------------

police_resp
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: police_resp, dtype: int64

-------------------------------------------------------------

order_protection
0    473
1     24
Name: order_protection, dtype: int64

-------------------------------------------------------------

level_severity
1    255
2    238
9      4
Name: level_severity, dtype: int64

-------------------------------------------------------------

num_incidents
1      143
2      167
3       74
4      109
999      4
Name: num_incidents, dtype: int64

-------------------------------------------------------------

num_threats
0      388
1       45
2       19
3       19
4       22
999      4
Name: num_threats, dtype: int64

-------------------------------------------------------------

num_slapping
0      215
1      123
2       79
3       40
4       36
999      4
Name: num_slapping, dtype: int64

-------------------------------------------------------------

num_punching
0      255
1      116
2       74
3       28
4       20
999      4
Name: num_punching, dtype: int64

-------------------------------------------------------------

num_beating
0      316
1      116
2       45
3       11
4        5
999      4
Name: num_beating, dtype: int64

-------------------------------------------------------------

num_weapon
0      432
1       49
2        9
3        2
8        1
999      4
Name: num_weapon, dtype: int64

-------------------------------------------------------------

num_forced_sex
0      374
1       57
2       25
3       17
4       20
999      4
Name: num_forced_sex, dtype: int64

-------------------------------------------------------------

miscarriage_resulted
0      481
1       12
999      4
Name: miscarriage_resulted, dtype: int64

-------------------------------------------------------------

restrained_by_perp
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: restrained_by_perp, dtype: int64

-------------------------------------------------------------

num_choked
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: num_choked, dtype: int64

-------------------------------------------------------------

num_perp_drunk
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drunk, dtype: int64

-------------------------------------------------------------

num_woman_drunk
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: num_woman_drunk, dtype: int64

-------------------------------------------------------------

num_both_drunk
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: num_both_drunk, dtype: int64

-------------------------------------------------------------

num_perp_drugs
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drugs, dtype: int64

-------------------------------------------------------------

num_woman_drugs
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_woman_drugs, dtype: int64

-------------------------------------------------------------

num_both_drugs
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: num_both_drugs, dtype: int64

-------------------------------------------------------------

reassault
0    147
1    350
Name: reassault, dtype: int64

-------------------------------------------------------------

# Prepare dfa to merge it with the dfb

In [16]:
dfa.columns

Index(['CASEID', 'ABUSED', 'SCRSTATR', 'LENGTHC1', 'C1SITUAT', 'PABUSE',
       'D3RCHILT', 'E13PRGNT', 'N7PREGNT', 'TOTSUPRT', 'G1NUMBER', 'H1JEALUS',
       'H2LIMIT', 'H3KNOWNG', 'J1HIT', 'J2THROWN', 'J3PUSH', 'J4SLAP',
       'J5KICK', 'J6OBJECT', 'J7BEAT', 'J8CHOKE', 'J9KNIFE', 'J10GUN',
       'J11SEX', 'POWER', 'HARASS', 'B1AGE', 'AGEDISP', 'STDETAI', 'SAMESEXR',
       'N11DRUGS', 'N12ALCHL', 'N13SUHIM', 'N16CHILD', 'N17ARRST', 'N1FRQNCY',
       'N2SVRITY', 'N3WEAPON', 'N4CHOKE', 'N5SEX', 'N6CONTRL', 'N8JEALUS',
       'N10CPBLE'],
      dtype='object')

In [17]:
#use prepare function to rename features 
prepare.rename_columns_all(dfa)
# use prepare function to re-encode data
prepare.replace_nonvals_all(dfa)

In [20]:
prepare.rename_columns_all(dfa)

,CASEID,ABUSED,SCRSTATR,LENGTHC1,C1SITUAT,PABUSE,D3RCHILT,E13PRGNT,N7PREGNT,TOTSUPRT,...,N16CHILD,N17ARRST,N1FRQNCY,N2SVRITY,N3WEAPON,N4CHOKE,N5SEX,N6CONTRL,N8JEALUS,N10CPBLE
0,108395,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,108397,1,1,0,1,1,0,0,0,11,...,0,1,0,1,1,1,1,0,1,1
2,108399,1,1,5,1,1,6,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,108443,1,1,0,1,1,0,1,0,12,...,0,1,0,0,1,1,0,1,0,0
4,108444,1,1,0,1,1,1,0,0,11,...,0,1,1,1,0,0,0,0,0,0
5,108456,1,1,0,0,1,1,0,0,0,...,0,1,0,0,0,1,1,0,1,1
6,108460,1,1,0,1,1,1,0,1,10,...,0,0,0,0,0,0,0,0,1,1
7,108525,1,1,1,1,0,0,0,0,11,...,0,1,1,1,1,1,1,1,1,1
8,108562,1,1,5,1,1,0,0,0,11,...,1,0,0,0,1,0,0,1,1,1
9,109304,0,0,5,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,0
10,109327,0,0,5,0,0,1,0,0,11,...,0,1,0,0,0,0,0,0,0,0
11,109335,0,0,1,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,0
12,109400,0,0,0,0,0,1,0,0,12,...,0,0,0,0,0,0,0,0,0,0
13,109455,0,1,0,0,0,0,0,0,11,...,0,0,0,0,0,0,0,0,0,0
14,109564,0,0,0,0,0,1,0,0,10,...,0,0,0,0,0,0,0,0,0,0
15,109565,0,0,1,0,0,0,0,0,12,...,0,1,0,0,0,0,0,0,0,0
16,118051,1,0,6,1,1,6,0,0,10,...,0,0,0,0,0,0,0,0,0,0
17,118058,1,1,0,1,1,0,0,0,10,...,0,1,1,1,0,1,0,1,1,1
18,118175,1,0,6,1,1,0,0,1,12,...,0,0,0,0,0,1,0,0,0,1
19,118176,1,1,1,1,1,1,0,1,0,...,0,1,0,1,0,1,1,0,1,0
20,118177,1,1,6,1,1,0,0,1,12,...,1,1,0,0,0,1,1,1,1,1
21,118178,1,1,1,1,1,1,1,1,0,...,0,1,0,0,0,1,0,1,0,1
22,118182,1,1,0,1,1,0,0,1,10,...,0,1,0,0,0,1,0,0,0,1
23,118183,1,1,1,0,1,0,0,1,11,...,0,0,1,1,0,1,0,0,1,0
24,118192,1,1,0,1,1,0,0,0,0,...,0,1,1,0,1,1,1,1,1,1
25,118193,1,1,5,1,1,0,0,0,0,...,0,1,0,0,1,1,1,1,1,1
26,118341,1,1,0,1,1,0,0,0,8,...,0,1,1,1,1,1,1,1,1,1
27,118458,1,1,1,1,0,0,0,1,0,...,1,1,1,1,1,1,1,1,1,1
28,118520,1,1,1,0,1,0,0,0,12,...,0,0,1,1,0,1,0,0,0,0
29,119097,0,0,1,0,0,0,0,0,11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,709588,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
676,709589,0,1,0,0,0,0,1,0,8,...,0,0,0,0,0,0,0,0,0,0
677,709590,0,1,0,0,0,1,0,0,7,...,0,0,0,0,0,0,0,0,0,0
678,709623,0,1,0,0,0,0,1,0,11,...,0,0,0,0,0,0,0,0,0,0
679,709679,0,0,5,0,0,1,1,0,7,...,0,0,0,0,0,0,0,0,0,0
680,808365,1,1,1,1,1,6,0,0,5,...,0,0,1,0,0,0,0,0,0,0
681,808366,1,1,1,1,1,0,0,1,10,...,0,1,0,0,1,1,1,1,1,1
682,808367,1,0,0,1,1,6,0,0,12,...,0,0,0,0,0,1,1,0,0,0
683,808368,1,0,1,1,1,0,0,0,11,...,0,0,0,0,0,0,1,0,1,1
684,808369,1,1,1,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
685,808471,1,1,5,1,1,0,0,1,12,...,0,1,0,0,0,1,1,1,1,1
686,808472,1,1,5,1,1,0,0,1,6,...,0,0,1,0,0,0,0,1,1,0
687,808473,1,0,6,1,1,0,0,1,11,...,0,1,0,0,0,1,1,1,1,0
688,808474,1,0,1,1,1,0,0,0,7,...,0,0,1,0,1,1,1,1,1,0
689,808552,1,0,0,1,1,5,0,0,12,...,0,1,1,1,1,1,1,1,1,1
690,808566,1,0,1,0,1,1,0,1,7,...,0,1,1,1,1,1,1,1,1,1
691,808568,1,0,0,0,1,0,0,1,11,...,0,1,0,0,1,1,1,1,1,1
692,808676,1,0,5,1,1,1,0,0,6,...,0,1,0,0,1,1,1,1,1,0
693,808677,1,0,0,1,1,1,0,0,10,...,0,1,0,0,1,1,1,0,1,0
694,808678,1,0,1,1,1,1,0,0,12,...,0,1,0,0,0,0,0,0,0,0
695,808695,1,0,5,1,1,0,0,1,8,...,0,1,1,1,0,1,1,0,1,1
696,808696,1,1,5,1,1,0,0,1,8,...,1,1,0,0,0,1,0,1,1,0
697,809538,0,0,1,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,0
698,809567,0,0,1,0,0,0,0,0,10,...,0,0,0,0,0,0,0,0,0,0
699,809674,0,0,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,0
700,809675,0,0,5,0,0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
701,908001,1,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
702,908003,1,1,1,1,1,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
703,909002,0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
704,909004,0,1,1,0,0,0,1,0,11,...,0,0,0,0,0,0,0,0,0,0

In [18]:
dfa.columns

Index(['CASEID', 'ABUSED', 'SCRSTATR', 'LENGTHC1', 'C1SITUAT', 'PABUSE',
       'D3RCHILT', 'E13PRGNT', 'N7PREGNT', 'TOTSUPRT', 'G1NUMBER', 'H1JEALUS',
       'H2LIMIT', 'H3KNOWNG', 'J1HIT', 'J2THROWN', 'J3PUSH', 'J4SLAP',
       'J5KICK', 'J6OBJECT', 'J7BEAT', 'J8CHOKE', 'J9KNIFE', 'J10GUN',
       'J11SEX', 'POWER', 'HARASS', 'B1AGE', 'AGEDISP', 'STDETAI', 'SAMESEXR',
       'N11DRUGS', 'N12ALCHL', 'N13SUHIM', 'N16CHILD', 'N17ARRST', 'N1FRQNCY',
       'N2SVRITY', 'N3WEAPON', 'N4CHOKE', 'N5SEX', 'N6CONTRL', 'N8JEALUS',
       'N10CPBLE'],
      dtype='object')

In [19]:
prepare.merge_all_recid(dfa, dfb)

AttributeError: 'DataFrame' object has no attribute 'abuse_past_year'

In [ ]:
df_so_very_large = prepare.merge_all_recid(dfa, dfb)

In [ ]:
df_so_very_large.head()

In [ ]:
df_so_very_large.info()

In [ ]:
prepare.get_nulls_by_column(dfb)

In [ ]:
prepare.get_nulls_by_row(dfb)

In [ ]:
# no nulls found

In [ ]:
prepare.get_nulls_by_column(df_so_very_large)

In [ ]:
prepare.get_nulls_by_row(df_so_very_large)

In [ ]:
# no nulls found

# Using custom functions in the prepare script, we eliminate some columns from the df. We assume that we now that the really really large df (both dfa/dfb)

In [ ]:
df_so_very_large = prepare.drop_cols_df_large(df_so_very_large)

In [ ]:
df_so_very_large.head()

In [ ]:
df_so_very_large.shape

# Import some more datasets... df9, df10, df13-15.

In [ ]:
# df9 & 10 are cases of AW (Abused Woman)
df9 = acquire.read_data('data09.csv')
df10 = acquire.read_data('data10.csv')

# df 13, 14 & 15 are cases of HOMICIDE
df13 = acquire.read_data('data13.csv')
df14 = acquire.read_data('data14.csv')
df15 = acquire.read_data('data15.csv')