In [1]:
import os
import acquire
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

In [2]:
from env import file1
from env import path
from env import file2

In [3]:
df_partner = acquire.read_data(file1)
df_abuse = acquire.read_data(file2)
# df_joined = acquire.join_data(file1, file2)

In [5]:
df_partner

,CASEID,MARITAL,B1AGE,AGEDISP,RACER,SEX_N,AGE_N,RACE_N,HSPNC_N,OTHERR_N,...,REASONR5,CHILDCB,L28KIDSN,KIDSNUM,FOSTER_N,KIDLIV_N,KIDIV2_N,DECEASED,STDETAI,STEPCHIL
0,108395,1,18,4,1,1,23,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
1,108397,999,30,4,9,1,36,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
2,108399,1,27,1,1,1,29,1,1,1,...,9999,0,1,2,9999,1,9999,0,1,1
3,108443,1,19,1,1,1,22,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
4,108444,1,18,1,1,1,21,1,1,1,...,9999,1,1,1,9999,1,9999,0,5,2
5,108456,1,18,4,1,1,26,1,1,1,...,9999,0,1,1,9999,1,9999,0,5,2
6,108460,1,18,1,1,1,17,1,1,1,...,9999,1,1,1,9999,1,9999,0,5,2
7,108525,4,36,1,1,1,35,1,1,1,...,9999,0,3,999,9999,9999,9999,0,1,1
8,108562,1,32,4,1,1,40,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
9,118051,2,41,5,1,1,55,1,1,1,...,9999,0,1,7,9999,1,9999,0,5,2
10,118058,2,28,1,1,1,27,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
11,118175,1,38,1,1,1,36,1,1,1,...,9999,0,1,1,9999,1,9999,0,1,1
12,118176,1,22,4,1,1,27,1,1,1,...,9999,0,1,3,9999,1,9999,0,1,1
13,118177,1,35,1,1,1,35,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
14,118178,1,21,4,1,1,27,1,1,1,...,9999,0,1,1,9999,1,9999,0,5,2
15,118182,1,26,1,9,1,30,1,1,1,...,9999,0,1,1,9999,1,9999,0,1,1
16,118183,4,25,1,1,1,29,1,1,1,...,9999,1,1,2,9999,1,9999,0,5,2
17,118192,1,25,1,1,1,28,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
18,118193,1,30,1,1,1,32,1,1,1,...,9999,0,1,2,9999,1,9999,0,5,2
19,118341,5,33,1,1,1,35,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
20,118458,2,39,1,3,1,43,1,1,1,...,9999,0,1,2,9999,10,9999,0,2,2
21,118520,4,36,2,1,1,30,1,1,1,...,9999,0,3,999,9999,9999,9999,0,2,2
22,138068,2,38,1,1,1,34,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
23,148059,1,30,2,1,1,23,1,1,1,...,9999,0,3,999,9999,9999,9999,0,1,1
24,148092,1,18,1,1,1,18,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
25,148099,1,27,2,1,1,18,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
26,148100,1,18,4,1,1,24,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
27,148106,1,21,1,1,1,24,6,3,1,...,9999,0,1,2,9999,2,9999,0,5,2
28,148107,1,32,5,1,1,42,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
29,148108,1,35,1,1,1,38,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,708621,2,25,1,2,1,25,3,1,1,...,9999,0,1,2,9999,2,9999,0,5,2
468,708622,1,31,5,2,1,46,3,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
469,708668,2,33,1,1,1,37,1,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
470,708670,1,29,4,2,1,37,3,1,1,...,9999,0,1,2,9999,6,9999,0,6,2
471,708671,2,30,4,2,1,38,3,1,1,...,9999,1,1,4,9999,6,9999,0,2,2
472,708672,2,39,1,2,1,39,3,1,1,...,9999,0,1,3,9999,999,9999,0,4,3
473,708673,1,24,5,1,1,37,1,1,1,...,9999,1,1,4,9999,9,9999,0,5,2
474,708697,2,30,4,2,1,36,3,1,1,...,9999,0,1,4,9999,2,9999,0,5,2
475,708698,5,36,1,2,1,40,3,1,1,...,9999,0,3,999,9999,777,9999,0,2,2
476,708699,2,33,1,2,1,37,3,1,1,...,9999,0,1,3,9999,2,9999,0,5,2
477,708700,2,35,1,2,1,39,3,1,1,...,9999,0,1,2,9999,2,9999,0,5,2
478,808365,4,31,2,2,1,26,3,5,1,...,9999,0,3,999,9999,777,9999,0,1,1
479,808366,1,21,4,2,1,26,3,5,1,...,9999,1,1,2,9999,1,9999,0,5,2
480,808367,1,39,2,1,1,34,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
481,808368,1,35,4,1,1,44,1,1,1,...,9999,0,1,2,9999,1,9999,0,1,1
482,808369,5,32,1,2,1,30,3,8,1,...,9999,0,1,1,9999,1,9999,0,1,1
483,808471,2,34,1,1,1,36,1,1,1,...,9999,0,1,3,9999,1,9999,0,5,2
484,808472,2,35,1,2,1,35,3,1,1,...,9999,0,1,2,9999,2,9999,0,5,2
485,808473,1,42,4,1,1,47,1,1,1,...,9999,0,1,7,9999,1,9999,0,3,1
486,808474,3,22,1,2,1,20,3,8,1,...,9999,0,1,1,9999,1,9999,0,1,1
487,808552,1,36,4,1,1,43,1,1,1,...,9999,0,3,999,9999,777,9999,0,1,1
488,808566,1,29,1,1,1,28,1,1,1,...,9999,0,1,1,9999,1,9999,0,1,1
489,808568,2,46,1,1,1,45,1,1,1,...,9999,0,1,6,9999,1,9999,0,5,2
490,808676,1,35,1,2,1,36,3,8,1,...,9999,1,1,2,9999,1,9999,0,1,1
491,808677,1,25,1,1,1,23,1,1,1,...,9999,1,3,999,9999,777,9999,0,1,1
492,808678,2,26,1,2,1,25,3,1,1,...,9999,0,1,1,9999,1,9999,0,5,2
493,808695,1,27,1,3,1,27,4,1,5,...,9,1,1,1,9999,1,9999,0,1,1
494,808696,1,29,1,2,1,28,3,8,1,...,9999,0,1,2,9999,2,9999,0,1,1
495,908001,1,19,999,1,999,999,999,1,1,...,9999,0,999,999,9999,999,9999,0,1,1
496,908003,1,35,999,1,999,999,999,1,1,...,9999,0,999,999,9999,999,9999,0,1,1

In [6]:
df_abuse

,CASEID,INVIEWN,IDINCID,INCIDENT,FORCED,YEAR,MONTH,DAY,DATECERT,USOBJ,...,NDRUGS,BOTHDRUG,SUBSTANC,SEVEREST,TOINC,INTYEAR,INTMONTH,INTDAY,DAYSTOIN,DATECOM
0,108395,1,108395000,2,0,1997,12,15,2,2,...,0,0,1,2,1,1998,1,27,43,1
1,108397,1,108397000,1,0,1997,6,28,2,2,...,0,0,2,4,2,1998,1,27,213,1
2,108397,1,108397000,4,0,1998,1,20,2,1,...,0,0,2,4,999,1998,1,27,7,1
3,108399,1,108399000,1,0,1998,1,3,2,2,...,0,0,1,3,2,1998,1,30,27,1
4,108399,1,108399000,3,0,1998,1,27,2,2,...,0,0,1,3,999,1998,1,30,3,1
5,108443,1,108443000,3,0,1997,6,3,2,2,...,0,0,2,3,1,1998,2,9,251,1
6,108444,1,108444000,1,0,1997,3,18,2,2,...,0,0,4,1,5,1998,2,9,328,1
7,108444,1,108444000,1,0,1997,4,7,2,2,...,0,0,4,1,999,1998,2,9,308,1
8,108444,1,108444000,1,0,1997,4,16,2,2,...,0,0,4,1,999,1998,2,9,299,1
9,108444,1,108444000,1,0,1997,4,25,2,2,...,0,0,4,1,999,1998,2,9,290,1
10,108444,1,108444010,1,0,1998,1,1,2,2,...,0,0,4,1,999,1998,2,9,39,1
11,108456,1,108456000,2,0,1997,5,24,2,2,...,0,0,4,2,3,1998,2,10,262,1
12,108456,1,108456000,0,0,1997,10,6,2,2,...,0,0,1,2,999,1998,2,10,127,1
13,108456,1,108456000,0,0,1998,2,7,2,2,...,0,0,1,2,999,1998,2,10,3,1
14,108460,1,108460000,2,0,1997,8,4,2,2,...,0,0,1,2,4,1998,2,26,206,1
15,108460,1,108460000,2,0,1997,12,1,2,2,...,0,0,1,2,999,1998,2,26,87,1
16,108460,1,108460000,1,0,1997,12,18,2,2,...,0,0,1,2,999,1998,2,26,70,1
17,108460,1,108460000,2,0,1998,2,21,2,2,...,0,0,1,2,999,1998,2,26,5,1
18,108525,1,108525000,1,0,1997,3,13,2,2,...,0,0,1,5,51,1998,3,13,365,1
19,108525,1,108525000,1,0,1997,3,18,2,2,...,0,0,1,5,999,1998,3,13,360,1
20,108525,1,108525000,1,0,1997,3,21,2,2,...,0,0,1,5,999,1998,3,13,357,1
21,108525,1,108525000,0,0,1997,3,25,2,2,...,0,0,1,5,999,1998,3,13,353,1
22,108525,1,108525010,1,0,1997,3,27,2,2,...,0,0,1,5,999,1998,3,13,351,1
23,108525,1,108525010,0,0,1997,4,3,2,2,...,0,0,1,5,999,1998,3,13,344,1
24,108525,1,108525010,1,0,1997,4,7,2,2,...,0,0,1,5,999,1998,3,13,340,1
25,108525,1,108525010,0,0,1997,4,9,2,2,...,0,0,1,5,999,1998,3,13,338,1
26,108525,1,108525010,1,0,1997,4,11,2,2,...,0,0,1,5,999,1998,3,13,336,1
27,108525,1,108525010,0,0,1997,4,13,2,2,...,0,0,1,5,999,1998,3,13,334,1
28,108525,1,108525010,1,0,1997,4,16,2,2,...,0,0,1,5,999,1998,3,13,331,1
29,108525,1,108525010,1,0,1997,4,18,2,2,...,0,0,1,5,999,1998,3,13,329,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,808696,1,808696040,0,0,1997,9,27,2,2,...,0,0,4,3,999,1998,2,23,149,1
4949,808696,1,808696040,0,0,1997,10,3,2,2,...,0,0,4,3,999,1998,2,23,143,1
4950,808696,1,808696040,0,0,1997,10,4,2,2,...,0,0,4,3,999,1998,2,23,142,1
4951,808696,1,808696040,0,0,1997,10,10,2,2,...,0,0,4,3,999,1998,2,23,136,1
4952,808696,1,808696040,0,0,1997,10,11,2,2,...,0,0,4,3,999,1998,2,23,135,1
4953,808696,1,808696040,0,0,1997,10,17,2,2,...,0,0,4,3,999,1998,2,23,129,1
4954,808696,1,808696040,1,0,1997,10,18,2,2,...,0,0,4,3,999,1998,2,23,128,1
4955,808696,1,808696040,0,0,1997,10,24,2,2,...,0,0,4,3,999,1998,2,23,122,1
4956,808696,1,808696040,0,0,1997,10,25,2,2,...,0,0,4,3,999,1998,2,23,121,1
4957,808696,1,808696050,0,0,1997,11,1,2,2,...,0,0,4,3,999,1998,2,23,114,1
4958,808696,1,808696050,0,0,1997,11,7,2,2,...,0,0,4,3,999,1998,2,23,108,1
4959,808696,1,808696050,0,0,1997,11,8,2,2,...,0,0,4,3,999,1998,2,23,107,1
4960,808696,1,808696050,0,0,1997,11,14,2,2,...,0,0,4,3,999,1998,2,23,101,1
4961,808696,1,808696050,0,0,1997,11,15,2,2,...,0,0,4,3,999,1998,2,23,100,1
4962,808696,1,808696050,0,0,1997,11,21,2,2,...,0,0,4,3,999,1998,2,23,94,1
4963,808696,1,808696050,0,0,1997,11,22,2,2,...,0,0,4,3,999,1998,2,23,93,1
4964,808696,1,808696050,0,0,1997,11,28,2,2,...,0,0,4,3,999,1998,2,23,87,1
4965,808696,1,808696050,0,0,1997,11,29,2,2,...,0,0,4,3,999,1998,2,23,86,1
4966,808696,1,808696050,0,0,1998,1,23,2,2,...,0,0,4,3,999,1998,2,23,31,1
4967,808696,1,808696060,0,0,1998,1,24,2,2,...,0,0,4,3,999,1998,2,23,30,1
4968,808696,1,808696060,0,0,1998,1,30,2,2,...,0,0,4,3,999,1998,2,23,24,1
4969,808696,1,808696060,0,0,1998,1,31,2,2,...,0,0,4,3,999,1998,2,23,23,1
4970,808696,1,808696060,0,0,1998,2,6,2,2,...,0,0,4,3,999,1998,2,23,17,1
4971,808696,1,808696060,0,0,1998,2,7,2,2,...,0,0,4,3,999,1998,2,23,16,1
4972,808696,1,808696060,0,0,1998,2,13,2,2,...,0,0,4,3,999,1998,2,23,10,1
4973,808696,1,808696060,0,0,1998,2,14,2,2,...,0,0,4,3,999,1998,2,23,9,1
4974,808696,1,808696060,0,0,1998,2,20,2,2,...,0,0,4,3,999,1998,2,23,3,1
4975,808696,1,808696060,0,0,1998,2,21,2,2,...,0,0,4,3,999,1998,2,23,2,1
4976,908001,1,908002000,9,99,99999,99,9999,9,999,...,9,9,9,9,1,9999,99,99,999,1
4977,908003,1,908004000,9,99,99999,99,9999,9,999,...,9,9,9,9,1,9999,99,99,999,1