In [1]:
#JesseRuiz_Capstoneproject_PredictingRecidivisminDomesticViolence_Phase2

# PLAN - PHASE 2

0. [x] Get the data.
0. [ ] Prepare the data for exploration.
0. [ ] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [2]:
# basic environment and custom scripts
import os
import acquire
import prepare
import explore
# from prepare import rename_columns
# from prepare import replace_nonvals
# from prepare import value_counts

# numpy and pandas for dataframe building and manipulation
import pandas as pd
import numpy as np
%matplotlib inline

# matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns

# import preprocessing for scaling and splitting
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# xgboost for feature selection
import xgboost as xgb

# Grid search
from sklearn.model_selection import GridSearchCV

# sklearn machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import cross_val_score

#  balanced bagging classifier
from imblearn.ensemble import BalancedBaggingClassifier

from functools import reduce

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

# PHASE 2 INFORMATION

## During phase 2, we look at a subset of our dataframe (705 cases/respondents) and examine the 497 AW (Abused Woman) cases where there was multiple cases of assault (re-assault).
* The target variable changes from Abuse_past_year to Reassault.
* The focus shifts to analyzing the features that predict that there will be reassault, instead of analyzing when there will be abuse or not.

# ACQUISITION

## Dataframes 6 & 11 contain information on AW (Abused Woman) cases.

In [4]:
dfa, dfb = acquire.get_data()

In [5]:
# dfa is datasets 1, 2, 3, 4, 5, 7. All cases AW and NAW.
dfa.head()

,CASEID,ABUSED,SCRSTATR,LENGTHC1,C1SITUAT,PABUSE,D3RCHILT,E13PRGNT,N7PREGNT,TOTSUPRT,...,N16CHILD,N17ARRST,N1FRQNCY,N2SVRITY,N3WEAPON,N4CHOKE,N5SEX,N6CONTRL,N8JEALUS,N10CPBLE
0,108395,1,1,1,1,1,1,3,2,9,...,2,2,2,2,2,2,2,2,2,2
1,108397,1,1,2,1,1,0,3,3,11,...,2,1,2,1,1,1,1,2,1,1
2,108399,1,1,5,1,1,6,3,2,9,...,2,2,2,2,2,1,2,2,2,2
3,108443,1,1,2,1,1,0,1,2,12,...,2,1,2,2,1,1,2,1,2,2
4,108444,1,1,2,1,1,1,2,2,11,...,2,1,1,1,2,2,2,2,2,2

In [6]:
# dfb is datasets 6 & 11. AW cases only.
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

# Examine dfb in more detail. Use custom functions from prepare script to take information from df10 and create a column that shows which cases had repeat offenses.

In [7]:
dfb['RECID'] = dfb.CASEID.apply(prepare.get_repeat_case)

In [8]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG,RECID
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

# Clean up the dataset for exploration...

In [9]:
dfb.columns

Index(['CASEID', 'M5FIRED', 'M11HIGH', 'M35SAFE', 'M41ILLGL', 'M42DAGRR',
       'M13TALKR', 'M32OTHER', 'M27HOW', 'M30ARRES', 'M31HOW', 'M38ORDER',
       'SEVERER', 'TOTINCR', 'THREATR', 'SLAPR', 'PUNCHR', 'BEATR', 'UWEAPON',
       'FORCEDR', 'MISCARR', 'RESTRAIN', 'CHOKED', 'NDRUNK', 'RDRUNK',
       'BOTHDRUN', 'NDRUGS', 'RDRUGS', 'BOTHDRUG', 'RECID'],
      dtype='object')

In [10]:
prepare.rename_columns_recid(dfb)

In [11]:
dfb.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,left_or_not,medical_staff_helpful,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

In [12]:
prepare.value_counts(dfb)

# for col in dfb.columns:
# #         n = dfb[col].unique().shape[0]
# #         col_bins = min(n, 10)
#         print(f'{col}:')
#         if dfb[col].dtype in ['int64', 'float64']:
#             print(dfb[col].value_counts(sort=False, dropna=False))
#         else:
#             print(dfb[col].value_counts(dropna=False))
#         print('\n')

id

-------------------------------------------------------------

gun_fired
1        10
2        41
9999    444
999       2
Name: gun_fired, dtype: int64

-------------------------------------------------------------

anyone_high
1      101
2      389
888      2
999      5
Name: anyone_high, dtype: int64

-------------------------------------------------------------

safe_place
1      391
2       97
999      9
Name: safe_place, dtype: int64

-------------------------------------------------------------

forced_illegal
1       86
2      402
999      9
Name: forced_illegal, dtype: int64

-------------------------------------------------------------

life_danger
0      240
1      249
999      8
Name: life_danger, dtype: int64

-------------------------------------------------------------

talk_about_it
1      352
2      140
999      5
Name: talk_about_it, dtype: int64

-------------------------------------------------------------

left_or_not
(10.911000000000001, 19.8]    125
(19.8, 28.6]                   20
(28.6, 37.4]                   17
(37.4, 46.2]                   36
(46.2, 55.0]                    0
(55.0, 63.8]                    0
(63.8, 72.6]                    0
(72.6, 81.4]                    0
(81.4, 90.2]                    0
(90.2, 99.0]                  299
Name: left_or_not, dtype: int64

-------------------------------------------------------------

medical_staff_helpful
11         7
21         7
22         6
23         3
24         2
31         9
32         5
33         7
41         2
7777      11
99999    430
9999       8
Name: medical_staff_helpful, dtype: int64

-------------------------------------------------------------

perp_arrested_ever
0       70
1       83
2       34
3      304
999      6
Name: perp_arrested_ever, dtype: int64

-------------------------------------------------------------

police_resp
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: police_resp, dtype: int64

-------------------------------------------------------------

order_protection
1        24
2        39
3       427
9999      1
999       6
Name: order_protection, dtype: int64

-------------------------------------------------------------

level_severity
1    255
2    238
9      4
Name: level_severity, dtype: int64

-------------------------------------------------------------

num_incidents
1      143
2      167
3       74
4      109
999      4
Name: num_incidents, dtype: int64

-------------------------------------------------------------

num_threats
0      388
1       45
2       19
3       19
4       22
999      4
Name: num_threats, dtype: int64

-------------------------------------------------------------

num_slapping
0      215
1      123
2       79
3       40
4       36
999      4
Name: num_slapping, dtype: int64

-------------------------------------------------------------

num_punching
0      255
1      116
2       74
3       28
4       20
999      4
Name: num_punching, dtype: int64

-------------------------------------------------------------

num_beating
0      316
1      116
2       45
3       11
4        5
999      4
Name: num_beating, dtype: int64

-------------------------------------------------------------

num_weapon
0      432
1       49
2        9
3        2
8        1
999      4
Name: num_weapon, dtype: int64

-------------------------------------------------------------

num_forced_sex
0      374
1       57
2       25
3       17
4       20
999      4
Name: num_forced_sex, dtype: int64

-------------------------------------------------------------

miscarriage_resulted
0      481
1       12
999      4
Name: miscarriage_resulted, dtype: int64

-------------------------------------------------------------

restrained_by_perp
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: restrained_by_perp, dtype: int64

-------------------------------------------------------------

num_choked
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: num_choked, dtype: int64

-------------------------------------------------------------

num_perp_drunk
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drunk, dtype: int64

-------------------------------------------------------------

num_woman_drunk
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: num_woman_drunk, dtype: int64

-------------------------------------------------------------

num_both_drunk
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: num_both_drunk, dtype: int64

-------------------------------------------------------------

num_perp_drugs
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drugs, dtype: int64

-------------------------------------------------------------

num_woman_drugs
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_woman_drugs, dtype: int64

-------------------------------------------------------------

num_both_drugs
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: num_both_drugs, dtype: int64

-------------------------------------------------------------

reassault
0    147
1    350
Name: reassault, dtype: int64

-------------------------------------------------------------

In [13]:
prepare.replace_nonvals_recid(dfb)

In [14]:
dfb.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,left_or_not,medical_staff_helpful,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,0,0,1,0,0,1,0,0,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,0,0,1,0,0,1,0,0,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,0,0,1,0,0,1,0,0,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,0,0,1,0,0,1,1,0,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,0,1,1,0,0,1,0,0,3,...,0,0,0,3,0,0,0,0,0,1

In [15]:
# Check the value counts of the columns to make sure the function worked
prepare.value_counts(dfb)

id

-------------------------------------------------------------

gun_fired
0    487
1     10
Name: gun_fired, dtype: int64

-------------------------------------------------------------

anyone_high
0    396
1    101
Name: anyone_high, dtype: int64

-------------------------------------------------------------

safe_place
0    106
1    391
Name: safe_place, dtype: int64

-------------------------------------------------------------

forced_illegal
0    411
1     86
Name: forced_illegal, dtype: int64

-------------------------------------------------------------

life_danger
0    248
1    249
Name: life_danger, dtype: int64

-------------------------------------------------------------

talk_about_it
0    145
1    352
Name: talk_about_it, dtype: int64

-------------------------------------------------------------

left_or_not
0    372
1    125
Name: left_or_not, dtype: int64

-------------------------------------------------------------

medical_staff_helpful
0     451
11      7
21      7
22      6
23      3
24      2
31      9
32      5
33      7
Name: medical_staff_helpful, dtype: int64

-------------------------------------------------------------

perp_arrested_ever
0       70
1       83
2       34
3      304
999      6
Name: perp_arrested_ever, dtype: int64

-------------------------------------------------------------

police_resp
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: police_resp, dtype: int64

-------------------------------------------------------------

order_protection
0    473
1     24
Name: order_protection, dtype: int64

-------------------------------------------------------------

level_severity
1    255
2    238
9      4
Name: level_severity, dtype: int64

-------------------------------------------------------------

num_incidents
1      143
2      167
3       74
4      109
999      4
Name: num_incidents, dtype: int64

-------------------------------------------------------------

num_threats
0      388
1       45
2       19
3       19
4       22
999      4
Name: num_threats, dtype: int64

-------------------------------------------------------------

num_slapping
0      215
1      123
2       79
3       40
4       36
999      4
Name: num_slapping, dtype: int64

-------------------------------------------------------------

num_punching
0      255
1      116
2       74
3       28
4       20
999      4
Name: num_punching, dtype: int64

-------------------------------------------------------------

num_beating
0      316
1      116
2       45
3       11
4        5
999      4
Name: num_beating, dtype: int64

-------------------------------------------------------------

num_weapon
0      432
1       49
2        9
3        2
8        1
999      4
Name: num_weapon, dtype: int64

-------------------------------------------------------------

num_forced_sex
0      374
1       57
2       25
3       17
4       20
999      4
Name: num_forced_sex, dtype: int64

-------------------------------------------------------------

miscarriage_resulted
0      481
1       12
999      4
Name: miscarriage_resulted, dtype: int64

-------------------------------------------------------------

restrained_by_perp
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: restrained_by_perp, dtype: int64

-------------------------------------------------------------

num_choked
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: num_choked, dtype: int64

-------------------------------------------------------------

num_perp_drunk
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drunk, dtype: int64

-------------------------------------------------------------

num_woman_drunk
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: num_woman_drunk, dtype: int64

-------------------------------------------------------------

num_both_drunk
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: num_both_drunk, dtype: int64

-------------------------------------------------------------

num_perp_drugs
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_perp_drugs, dtype: int64

-------------------------------------------------------------

num_woman_drugs
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: num_woman_drugs, dtype: int64

-------------------------------------------------------------

num_both_drugs
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: num_both_drugs, dtype: int64

-------------------------------------------------------------

reassault
0    147
1    350
Name: reassault, dtype: int64

-------------------------------------------------------------

# Prepare dfa to merge it with the dfb

In [16]:
dfa.columns

Index(['CASEID', 'ABUSED', 'SCRSTATR', 'LENGTHC1', 'C1SITUAT', 'PABUSE',
       'D3RCHILT', 'E13PRGNT', 'N7PREGNT', 'TOTSUPRT', 'G1NUMBER', 'H1JEALUS',
       'H2LIMIT', 'H3KNOWNG', 'J1HIT', 'J2THROWN', 'J3PUSH', 'J4SLAP',
       'J5KICK', 'J6OBJECT', 'J7BEAT', 'J8CHOKE', 'J9KNIFE', 'J10GUN',
       'J11SEX', 'POWER', 'HARASS', 'B1AGE', 'AGEDISP', 'STDETAI', 'SAMESEXR',
       'N11DRUGS', 'N12ALCHL', 'N13SUHIM', 'N16CHILD', 'N17ARRST', 'N1FRQNCY',
       'N2SVRITY', 'N3WEAPON', 'N4CHOKE', 'N5SEX', 'N6CONTRL', 'N8JEALUS',
       'N10CPBLE'],
      dtype='object')

In [17]:
#use prepare function to rename features 
dfa = prepare.rename_columns_all(dfa)

In [18]:
# use prepare function to re-encode data
prepare.replace_nonvals_all(dfa)

In [19]:
dfa.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,partner_reported_child_abuse,partner_arrested,violence_increased,severity_increased,weapon_ever,choked_ever,rape_ever,controlled_ever,jealous,capable_murder
0,108395,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,108397,1,1,2,1,1,0,0,0,11,...,0,1,0,1,1,1,1,0,1,1
2,108399,1,1,5,1,1,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,108443,1,1,2,1,1,0,1,0,12,...,0,1,0,0,1,1,0,1,0,0
4,108444,1,1,2,1,1,1,0,0,11,...,0,1,1,1,0,0,0,0,0,0

In [20]:
dfa.columns

Index(['id', 'abuse_past_year', 'abuse_status', 'length_relationship',
       'partner_abusive', 'num_abusers', 'num_children', 'pregnant',
       'beaten_while_pregnant', 'support_score', 'guns_in_home',
       'jealous_past_year', 'limit_family_contact', 'location_tracking',
       'threat_hit', 'threat_object', 'push_shove', 'slap', 'kick_punch',
       'hit_object', 'beaten', 'choked', 'threat_knife', 'threat_gun',
       'rape_with_threat', 'power_scale', 'harass_scale', 'id_age',
       'age_disparity', 'children_not_partner', 'same_sex_relationship',
       'partner_drug_use', 'partner_alcohol_use', 'threat_suicide',
       'partner_reported_child_abuse', 'partner_arrested',
       'violence_increased', 'severity_increased', 'weapon_ever',
       'choked_ever', 'rape_ever', 'controlled_ever', 'jealous',
       'capable_murder'],
      dtype='object')

In [21]:
prepare.merge_all_recid(dfa, dfb)

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,108397,1,1,2,1,1,0,0,0,11,...,0,0,1,2,0,0,0,0,0,1
2,108399,1,1,5,1,1,2,0,0,0,...,0,1,1,0,0,0,0,0,0,1
3,108443,1,1,2,1,1,0,1,0,12,...,0,0,1,1,0,0,0,0,0,0
4,108444,1,1,2,1,1,1,0,0,11,...,0,0,0,3,0,0,0,0,0,1
5,108456,1,1,2,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,108460,1,1,3,1,1,1,0,1,10,...,0,0,0,0,0,0,0,0,0,1
7,108525,1,1,4,1,2,2,0,0,11,...,0,0,0,0,0,0,0,0,0,1
8,108562,1,1,5,1,1,2,0,0,11,...,0,0,0,2,0,0,0,0,0,1
9,118051,1,0,6,1,1,2,0,0,10,...,0,0,0,0,0,0,0,0,0,0
10,118058,1,1,3,1,1,0,0,0,10,...,0,0,0,0,0,0,2,0,0,1
11,118175,1,0,6,1,1,2,0,1,12,...,0,0,0,0,0,0,0,0,0,0
12,118176,1,1,4,1,1,2,0,1,0,...,0,0,0,0,0,0,0,0,0,1
13,118177,1,1,6,1,1,2,0,1,12,...,0,0,0,0,0,0,0,0,0,0
14,118178,1,1,4,1,1,1,1,1,0,...,0,0,0,0,0,0,2,0,0,1
15,118182,1,1,3,1,1,2,0,1,10,...,0,0,0,0,0,0,0,0,0,0
16,118183,1,1,1,0,1,2,0,1,11,...,0,0,0,1,1,1,0,0,0,1
17,118192,1,1,2,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
18,118193,1,1,5,1,1,2,0,0,0,...,0,0,0,2,0,0,0,0,0,1
19,118341,1,1,3,1,1,2,0,0,8,...,0,0,0,3,2,2,8,1,1,1
20,118458,1,1,4,1,2,0,0,1,0,...,0,1,0,2,0,0,2,0,0,1
21,118520,1,1,1,0,1,0,0,0,12,...,0,0,1,0,0,0,0,0,0,0
22,138068,1,1,5,1,1,2,0,0,8,...,0,0,0,1,0,0,1,0,0,0
23,148059,1,1,1,0,1,2,0,0,1,...,0,0,0,0,0,0,0,0,0,1
24,148092,1,1,2,1,1,0,0,0,7,...,0,0,1,0,0,0,0,0,0,1
25,148099,1,1,1,1,1,2,0,0,5,...,0,0,0,0,0,0,0,0,0,1
26,148100,1,1,2,1,1,0,0,0,12,...,0,0,0,0,0,0,0,0,0,1
27,148106,1,1,2,1,1,2,1,0,10,...,0,0,1,1,0,0,0,0,0,0
28,148107,1,1,3,1,1,0,0,0,7,...,0,1,0,1,1,1,0,0,0,1
29,148108,1,1,3,1,1,0,0,0,12,...,0,0,0,5,5,5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,708621,1,1,5,1,1,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0
468,708622,1,0,2,1,1,1,0,0,0,...,0,0,0,0,0,0,0,13,0,1
469,708668,1,1,4,1,1,0,0,0,0,...,0,0,1,0,0,0,11,0,0,1
470,708670,1,1,3,0,2,0,1,1,7,...,0,0,0,1,2,1,32,25,25,1
471,708671,1,1,6,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
472,708672,1,1,6,1,1,2,0,0,10,...,0,0,0,1,0,0,0,0,0,1
473,708673,1,1,5,1,1,1,0,1,8,...,0,0,2,1,2,1,21,16,15,1
474,708697,1,0,5,1,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1
475,708698,1,0,5,1,1,0,0,0,7,...,0,0,0,0,0,0,0,0,0,0
476,708699,1,1,6,1,1,2,0,1,0,...,0,0,0,10,0,0,0,0,0,1
477,708700,1,1,5,1,1,2,0,0,5,...,0,0,0,0,0,0,0,0,0,0
478,808365,1,1,1,1,1,2,0,0,5,...,0,0,0,0,0,0,0,0,0,1
479,808366,1,1,4,1,1,2,0,1,10,...,0,0,0,36,0,0,0,0,0,1
480,808367,1,0,3,1,1,2,0,0,12,...,0,0,0,0,0,0,0,0,0,1
481,808368,1,0,1,1,1,2,0,0,11,...,0,0,0,8,0,0,0,0,0,1
482,808369,1,1,4,1,1,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1
483,808471,1,1,5,1,1,2,0,1,12,...,0,0,99,171,0,0,171,0,0,1
484,808472,1,1,5,1,1,2,0,1,6,...,0,0,0,24,0,0,0,0,0,1
485,808473,1,0,6,1,1,2,0,1,11,...,0,0,99,2,0,0,0,0,0,1
486,808474,1,0,4,1,1,2,0,0,7,...,0,0,99,0,0,0,0,0,0,1
487,808552,1,0,3,1,1,2,0,0,12,...,0,0,99,0,0,0,47,0,0,1
488,808566,1,0,1,0,1,2,0,1,7,...,0,3,99,3,0,0,0,0,0,1
489,808568,1,0,2,0,1,2,0,1,11,...,0,0,0,0,0,0,0,0,0,0
490,808676,1,0,5,1,1,2,0,0,6,...,0,0,0,0,0,0,0,0,0,0
491,808677,1,0,2,1,1,2,0,0,10,...,0,0,99,0,0,0,0,0,0,1
492,808678,1,0,4,1,1,1,0,0,12,...,0,0,0,0,0,0,0,0,0,0
493,808695,1,0,5,1,1,2,0,1,8,...,0,1,99,0,0,0,28,0,0,1
494,808696,1,1,5,1,1,2,0,1,8,...,0,0,99,0,0,0,0,0,0,1
495,908001,1,1,3,1,1,1,0,0,0,...,999,999,999,999,999,999,999,999,999,0
496,908003,1,1,4,1,1,2,0,0,0,...,999,999,999,999,999,999,999,999,999,0

In [22]:
df_so_very_large = prepare.merge_all_recid(dfa, dfb)

In [23]:
df_so_very_large.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,108397,1,1,2,1,1,0,0,0,11,...,0,0,1,2,0,0,0,0,0,1
2,108399,1,1,5,1,1,2,0,0,0,...,0,1,1,0,0,0,0,0,0,1
3,108443,1,1,2,1,1,0,1,0,12,...,0,0,1,1,0,0,0,0,0,0
4,108444,1,1,2,1,1,1,0,0,11,...,0,0,0,3,0,0,0,0,0,1

In [24]:
df_so_very_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 0 to 496
Data columns (total 73 columns):
id                              497 non-null int64
abuse_past_year                 497 non-null int64
abuse_status                    497 non-null int64
length_relationship             497 non-null int64
partner_abusive                 497 non-null int64
num_abusers                     497 non-null int64
num_children                    497 non-null int64
pregnant                        497 non-null int64
beaten_while_pregnant           497 non-null int64
support_score                   497 non-null int64
guns_in_home                    497 non-null int64
jealous_past_year               497 non-null int64
limit_family_contact            497 non-null int64
location_tracking               497 non-null int64
threat_hit                      497 non-null int64
threat_object                   497 non-null int64
push_shove                      497 non-null int64
slap                            497 non-null int64
kick_punch                      497 non-null int64
hit_object                      497 non-null int64
beaten                          497 non-null int64
choked                          497 non-null int64
threat_knife                    497 non-null int64
threat_gun                      497 non-null int64
rape_with_threat                497 non-null int64
power_scale                     497 non-null int64
harass_scale                    497 non-null int64
id_age                          497 non-null int64
age_disparity                   497 non-null int64
children_not_partner            497 non-null int64
same_sex_relationship           497 non-null int64
partner_drug_use                497 non-null int64
partner_alcohol_use             497 non-null int64
threat_suicide                  497 non-null int64
partner_reported_child_abuse    497 non-null int64
partner_arrested                497 non-null int64
violence_increased              497 non-null int64
severity_increased              497 non-null int64
weapon_ever                     497 non-null int64
choked_ever                     497 non-null int64
rape_ever                       497 non-null int64
controlled_ever                 497 non-null int64
jealous                         497 non-null int64
capable_murder                  497 non-null int64
gun_fired                       497 non-null int64
anyone_high                     497 non-null int64
safe_place                      497 non-null int64
forced_illegal                  497 non-null int64
life_danger                     497 non-null int64
talk_about_it                   497 non-null int64
left_or_not                     497 non-null int64
medical_staff_helpful           497 non-null int64
perp_arrested_ever              497 non-null int64
police_resp                     497 non-null int64
order_protection                497 non-null int64
level_severity                  497 non-null int64
num_incidents                   497 non-null int64
num_threats                     497 non-null int64
num_slapping                    497 non-null int64
num_punching                    497 non-null int64
num_beating                     497 non-null int64
num_weapon                      497 non-null int64
num_forced_sex                  497 non-null int64
miscarriage_resulted            497 non-null int64
restrained_by_perp              497 non-null int64
num_choked                      497 non-null int64
num_perp_drunk                  497 non-null int64
num_woman_drunk                 497 non-null int64
num_both_drunk                  497 non-null int64
num_perp_drugs                  497 non-null int64
num_woman_drugs                 497 non-null int64
num_both_drugs                  497 non-null int64
reassault                       497 non-null int64
dtypes: int64(73)
memory usage: 287.3 KB

In [25]:
prepare.get_nulls_by_column(dfb)

Empty DataFrame
Columns: [sum_nulls, nulls_by_percent]
Index: []

In [26]:
prepare.get_nulls_by_row(dfb)

In [27]:
# no nulls found

In [28]:
prepare.get_nulls_by_column(df_so_very_large)

Empty DataFrame
Columns: [sum_nulls, nulls_by_percent]
Index: []

In [29]:
prepare.get_nulls_by_row(df_so_very_large)

In [30]:
# no nulls found

In [31]:
df_so_very_large.columns

Index(['id', 'abuse_past_year', 'abuse_status', 'length_relationship',
       'partner_abusive', 'num_abusers', 'num_children', 'pregnant',
       'beaten_while_pregnant', 'support_score', 'guns_in_home',
       'jealous_past_year', 'limit_family_contact', 'location_tracking',
       'threat_hit', 'threat_object', 'push_shove', 'slap', 'kick_punch',
       'hit_object', 'beaten', 'choked', 'threat_knife', 'threat_gun',
       'rape_with_threat', 'power_scale', 'harass_scale', 'id_age',
       'age_disparity', 'children_not_partner', 'same_sex_relationship',
       'partner_drug_use', 'partner_alcohol_use', 'threat_suicide',
       'partner_reported_child_abuse', 'partner_arrested',
       'violence_increased', 'severity_increased', 'weapon_ever',
       'choked_ever', 'rape_ever', 'controlled_ever', 'jealous',
       'capable_murder', 'gun_fired', 'anyone_high', 'safe_place',
       'forced_illegal', 'life_danger', 'talk_about_it', 'left_or_not',
       'medical_staff_helpful', 'perp_arrested_ever', 'police_resp',
       'order_protection', 'level_severity', 'num_incidents', 'num_threats',
       'num_slapping', 'num_punching', 'num_beating', 'num_weapon',
       'num_forced_sex', 'miscarriage_resulted', 'restrained_by_perp',
       'num_choked', 'num_perp_drunk', 'num_woman_drunk', 'num_both_drunk',
       'num_perp_drugs', 'num_woman_drugs', 'num_both_drugs', 'reassault'],
      dtype='object')

In [32]:
len(list(df_so_very_large.columns))

73

# Using custom functions in the prepare script, we eliminate some columns from the df. We assume that we now that the really really large df (both dfa/dfb)

In [33]:
df_so_very_large = prepare.drop_cols_df_large(df_so_very_large)

In [34]:
df_so_very_large.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,num_punching,num_beating,num_weapon,num_forced_sex,miscarriage_resulted,restrained_by_perp,num_choked,num_both_drunk,num_both_drugs,reassault
0,108395,1,1,1,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,108397,1,1,2,1,1,0,0,0,11,...,0,0,0,0,0,0,1,0,0,1
2,108399,1,1,5,1,1,2,0,0,0,...,0,1,0,0,0,1,1,0,0,1
3,108443,1,1,2,1,1,0,1,0,12,...,0,1,0,0,0,0,1,0,0,0
4,108444,1,1,2,1,1,1,0,0,11,...,0,0,0,0,0,0,0,0,0,1

In [35]:
df_so_very_large.shape

(497, 53)

In [36]:
dfa.shape

(705, 44)

In [37]:
dfb.shape

(497, 30)

In [38]:
df_atemp = df_so_very_large.copy()

In [39]:
df_atemp.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,num_punching,num_beating,num_weapon,num_forced_sex,miscarriage_resulted,restrained_by_perp,num_choked,num_both_drunk,num_both_drugs,reassault
0,108395,1,1,1,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,108397,1,1,2,1,1,0,0,0,11,...,0,0,0,0,0,0,1,0,0,1
2,108399,1,1,5,1,1,2,0,0,0,...,0,1,0,0,0,1,1,0,0,1
3,108443,1,1,2,1,1,0,1,0,12,...,0,1,0,0,0,0,1,0,0,0
4,108444,1,1,2,1,1,1,0,0,11,...,0,0,0,0,0,0,0,0,0,1

In [40]:
df_atemp.columns

Index(['id', 'abuse_past_year', 'abuse_status', 'length_relationship',
       'partner_abusive', 'num_abusers', 'num_children', 'pregnant',
       'beaten_while_pregnant', 'support_score', 'limit_family_contact',
       'location_tracking', 'threat_object', 'push_shove', 'slap',
       'kick_punch', 'hit_object', 'power_scale', 'harass_scale', 'id_age',
       'age_disparity', 'children_not_partner', 'same_sex_relationship',
       'threat_suicide', 'partner_reported_child_abuse', 'partner_arrested',
       'violence_increased', 'severity_increased', 'rape_ever',
       'controlled_ever', 'jealous', 'capable_murder', 'anyone_high',
       'safe_place', 'forced_illegal', 'life_danger', 'talk_about_it',
       'left_or_not', 'perp_arrested_ever', 'level_severity', 'num_incidents',
       'num_threats', 'num_slapping', 'num_punching', 'num_beating',
       'num_weapon', 'num_forced_sex', 'miscarriage_resulted',
       'restrained_by_perp', 'num_choked', 'num_both_drunk', 'num_both_drugs',
       'reassault'],
      dtype='object')

In [41]:
len(list(df_atemp.columns))

53

# Import some more datasets... df9, df10, df13-15.

In [42]:
# df9 & 10 are cases of AW (Abused Woman)
df9 = acquire.read_data('data09.csv')
df10 = acquire.read_data('data10.csv')

# df 13, 14 & 15 are cases of HOMICIDE
df13 = acquire.read_data('data13.csv')
df14 = acquire.read_data('data14.csv')
df15 = acquire.read_data('data15.csv')