In [1]:
#JesseRuiz_Capstoneproject_PredictingRecidivisminDomesticViolence_Phase2

# PLAN - PHASE 2

0. [x] Get the data.
0. [ ] Prepare the data for exploration.
0. [ ] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [2]:
# basic environment and custom scripts
import os
import acquire
import prepare
import explore
from prepare import rename_columns
from prepare import replace_nonvals
from prepare import value_counts

# numpy and pandas for dataframe building and manipulation
import pandas as pd
import numpy as np
%matplotlib inline

# matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns

# import preprocessing for scaling and splitting
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# xgboost for feature selection
import xgboost as xgb

# Grid search
from sklearn.model_selection import GridSearchCV

# sklearn machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import cross_val_score

#  balanced bagging classifier
from imblearn.ensemble import BalancedBaggingClassifier

from functools import reduce

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

# PHASE 2

## During phase 2, we look at a subset of our dataframe (705 cases/respondents) and examine the 497 AW (Abused Woman) cases where there was multiple cases of assault (re-assault).
* The target variable changes from Abuse_past_year to Reassault.
* The focus shifts to analyzing the features that predict that there will be reassault, instead of analyzing when there will be abuse or not.

# ACQUISITION

## Dataframes 6 & 11 contain information on AW (Abused Woman) cases.

In [4]:
df6 = acquire.read_data('data06.csv')
# df8 = acquire.read_data('data08.csv') # NO USEFUL COLUMNS
df11 = acquire.read_data('data11.csv')
# df12 = acquire.read_data('data12.csv') # NO USEFUL COLUMNS

In [5]:
print(df6.head())
# print(df8.head())
print(df11.head())
# print(df12.head())

   CASEID  INVIEWN  ABUSED  SAMESEXR  RACER  M4GUN  M5FIRED  M6MSCRRG  \
0  108395        1       1      9999      1      2     9999         2
1  108397        1       1      9999      9      2     9999         2
2  108399        1       1      9999      1      2     9999         2
3  108443        1       1      9999      1      2     9999         2
4  108444        1       1      9999      1      2     9999         2

   M7TIEDUP  M8PRSNT    ...     M40CNSL3  M40CNSL4  M44ADV1  M44ADV2  M44ADV3  \
0         2        2    ...         9999      9999        1     9999     9999
1         2        1    ...         9999      9999        1     9999     9999
2         1        1    ...         9999      9999        2        1     9999
3         2        1    ...         9999      9999       26     9999     9999
4         2        1    ...         9999      9999        1     9999     9999

   M22NOINJ  M22NONED  M22PRIV  M22EMBAR  HELPTYPE
0         1         0        0         0         1
1         1         0        0         0         1
2         0         1        0         0         1
3         2         0        0         0         1
4         0         0        0         0         1

[5 rows x 138 columns]
   CASEID  SEVEREST  SEVERER  TOTINC  TOTINCR  RECENT  RECENTR  RECENTRR  \
0  108395         2        1       1        1      43        3         0
1  108397         4        2       2        2       7        2         0
2  108399         3        2       2        2       3        1         0
3  108443         3        2       1        1     251        5         1
4  108444         1        1       5        3      39        3         0

   THREATS  THREATR    ...     MISCARR  RESTRAIN  CHOKED  CHILD  NDRUNK  \
0        0        0    ...           0         0       0      0       0
1        0        0    ...           0         0       1      0       2
2        0        0    ...           0         1       1      0       0
3        0        0    ...           0         0       1      0       1
4        0        0    ...           0         0       0      0       3

   RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
0       0         0       0       0         0
1       0         0       0       0         0
2       0         0       0       0         0
3       0         0       0       0         0
4       0         0       0       0         0

[5 rows x 33 columns]

In [6]:
# Specify columns to take from dataframes 6 & 11:
six_cols = ['CASEID',
            'M5FIRED',
            'M11HIGH',
            'M35SAFE',
            'M41ILLGL',
            'M42DAGRR',
            'M13TALKR',
            'M32OTHER',
            'M27HOW',
            'M30ARRES',
            'M31HOW',
            'M38ORDER',
           ]

eleven_cols = ['CASEID',
               'SEVERER',
               'TOTINCR',
               'THREATR',
               'SLAPR',
               'PUNCHR',
               'BEATR',
               'UWEAPON',
               'FORCEDR',
               'MISCARR',
               'RESTRAIN',
               'CHOKED',
               'NDRUNK',
               'RDRUNK',
               'BOTHDRUN',
               'NDRUGS',
               'RDRUGS',
               'BOTHDRUG',
              ]

In [7]:
# drop dataframes down to desired features
df6 = df6[six_cols]
df11 = df11[eleven_cols]

In [8]:
print(df6.shape)
print(df11.shape)

(497, 12)
(497, 18)

In [9]:
dfb = df6.merge(right=df11, on='CASEID')

## dfb: this is the dataframe with the AW (Abused Woman) cases

In [10]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

# Examine dfb in more detail. Use custom functions from prepare script to take information from df10 and create a column that shows which cases had repeat offenses.

In [11]:
dfb['RECID'] = dfb.CASEID.apply(prepare.get_repeat_case)

In [12]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG,RECID
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

# Clean up the dataset for exploration...

In [13]:
dfb.columns

Index(['CASEID', 'M5FIRED', 'M11HIGH', 'M35SAFE', 'M41ILLGL', 'M42DAGRR',
       'M13TALKR', 'M32OTHER', 'M27HOW', 'M30ARRES', 'M31HOW', 'M38ORDER',
       'SEVERER', 'TOTINCR', 'THREATR', 'SLAPR', 'PUNCHR', 'BEATR', 'UWEAPON',
       'FORCEDR', 'MISCARR', 'RESTRAIN', 'CHOKED', 'NDRUNK', 'RDRUNK',
       'BOTHDRUN', 'NDRUGS', 'RDRUGS', 'BOTHDRUG', 'RECID'],
      dtype='object')

In [14]:
prepare.rename_recid_columns(dfb)

In [15]:
dfb.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,help_herself,med_staff_helped,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,1,1,0,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1

In [16]:
dfb.gun_fired.value_counts()

9999    444
2        41
1        10
999       2
Name: gun_fired, dtype: int64

In [23]:
for col in dfb.columns:
#         n = dfb[col].unique().shape[0]
#         col_bins = min(n, 10)
        print(f'{col}:')
        if dfb[col].dtype in ['int64', 'float64']:
            print(dfb[col].value_counts(sort=False, dropna=False))
        else:
            print(dfb[col].value_counts(dropna=False))
        print('\n')

id:
308225    1
308227    1
308228    1
618702    1
318475    1
708621    1
708622    1
108562    1
318483    1
318484    1
318485    1
808696    1
318488    1
318489    1
318491    1
318493    1
808368    1
318497    1
318499    1
218148    1
308262    1
618535    1
308264    1
148521    1
318506    1
308269    1
308270    1
308271    1
218160    1
308274    1
         ..
618449    1
618452    1
618360    1
708469    1
308186    1
708571    1
708572    1
308189    1
308190    1
308191    1
618466    1
308196    1
308197    1
308198    1
308199    1
148459    1
108525    1
508507    1
708592    1
708593    1
308211    1
308213    1
318505    1
308215    1
308216    1
308217    1
308219    1
308220    1
308221    1
308222    1
Name: id, Length: 497, dtype: int64


gun_fired:
1        10
2        41
9999    444
999       2
Name: gun_fired, dtype: int64


anyone_high:
1      101
2      389
888      2
999      5
Name: anyone_high, dtype: int64


safe_place:
1      391
2       97
999      9
Name: safe_place, dtype: int64


forced_illegal:
1       86
2      402
999      9
Name: forced_illegal, dtype: int64


life_danger:
0      240
1      249
999      8
Name: life_danger, dtype: int64


talk_about_it:
1      352
2      140
999      5
Name: talk_about_it, dtype: int64


help_herself:
11     66
12     10
13      7
14      9
15      5
16      5
17     10
18     11
19      2
21     17
22      3
31      4
32      8
33      5
41      9
42      3
43      1
44      2
45      9
46     12
99    299
Name: help_herself, dtype: int64


med_staff_helped:
11         7
21         7
22         6
23         3
24         2
31         9
32         5
33         7
41         2
7777      11
99999    430
9999       8
Name: med_staff_helped, dtype: int64


perp_arrested_ever:
0       70
1       83
2       34
3      304
999      6
Name: perp_arrested_ever, dtype: int64


police_resp:
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: police_resp, dtype: int64


order_protection:
1        24
2        39
3       427
9999      1
999       6
Name: order_protection, dtype: int64


level_severity:
1    255
2    238
9      4
Name: level_severity, dtype: int64


num_incidents:
1      143
2      167
3       74
4      109
999      4
Name: num_incidents, dtype: int64


num_threats:
0      388
1       45
2       19
3       19
4       22
999      4
Name: num_threats, dtype: int64


num_slapping:
0      215
1      123
2       79
3       40
4       36
999      4
Name: num_slapping, dtype: int64


num_punching:
0      255
1      116
2       74
3       28
4       20
999      4
Name: num_punching, dtype: int64


num_beating:
0      316
1      116
2       45
3       11
4        5
999      4
Name: num_beating, dtype: int64


num_weapon:
0      432
1       49
2        9
3        2
8        1
999      4
Name: num_weapon, dtype: int64


num_forced_sex:
0      374
1       57
2       25
3       17
4       20
999      4
Name: num_forced_sex, dtype: int64


miscarriage_resulted:
0      481
1       12
999      4
Name: miscarriage_resulted, dtype: int64


restrained_by_perp:
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: restrained_by_perp, dtype: int64


num_choked:
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: num_choked, dtype: int64


num_perp_drunk:
0      257
1       82
2       41
3       25
4        9
5       12
6        9
7        7
8        5
9        3
10       5
11       2
12       1
14       3
15       4
17       1
19       2
22       1
23       1
24       1
27       2
28       1
32       1
33       1
34       2
35       1
36       1
37       1
46       1
48       1
51       1
52       1
53       2
54       1
55       1
85       1
87       1
97       1
171      1
999      4
Name: num_perp_drunk, dtype: int64


num_woman_drunk:
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: num_woman_drunk, dtype: int64


num_both_drunk:
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: num_both_drunk, dtype: int64


num_perp_drugs:
0      355
1       41
2       24
3       19
4        8
5        8
6        3
7        3
8        4
9        1
10       2
11       1
12       2
14       1
15       2
17       2
19       1
21       2
22       2
23       1
24       1
25       1
28       2
32       1
33       1
35       1
37       1
47       1
64       1
171      1
999      4
Name: num_perp_drugs, dtype: int64


num_woman_drugs:
0      433
1       19
2        9
3        6
4        5
5        3
6        1
7        3
8        1
9        2
10       2
12       1
13       1
16       1
17       1
21       1
22       1
23       1
25       1
48       1
999      4
Name: num_woman_drugs, dtype: int64


num_both_drugs:
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: num_both_drugs, dtype: int64


reassault:
0    147
1    350
Name: reassault, dtype: int64

# This new column, RECID, is a boolean value that tells us whether the cases were re-assault cases or not.

# So now we can see the cases where recidivism happened. There are 350 cases out of 705. There were 497 cases of domestic violence.

In [20]:
df_re = dfb[dfb.reassault == 1]

In [21]:
df_re.shape

(350, 30)

In [22]:
df_re.head()

,id,gun_fired,anyone_high,safe_place,forced_illegal,life_danger,talk_about_it,help_herself,med_staff_helped,perp_arrested_ever,...,miscarriage_resulted,restrained_by_perp,num_choked,num_perp_drunk,num_woman_drunk,num_both_drunk,num_perp_drugs,num_woman_drugs,num_both_drugs,reassault
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,1,2,0,0,0,0,0,1
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,1,1,0,0,0,0,0,0,1
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,3,0,0,0,0,0,1
5,108456,9999,1,1,2,1,1,11,11,0,...,0,0,0,0,0,0,0,0,0,1
6,108460,9999,2,1,2,0,1,11,99999,3,...,0,0,0,0,0,0,0,0,0,1

# Import some more datasets... df9, df10, df13-15.

In [ ]:
# df9 & 10 are cases of AW (Abused Woman)
df9 = acquire.read_data('data09.csv')
df10 = acquire.read_data('data10.csv')

# df 13, 14 & 15 are cases of HOMICIDE
df13 = acquire.read_data('data13.csv')
df14 = acquire.read_data('data14.csv')
df15 = acquire.read_data('data15.csv')