# PLAN - PHASE 2

0. [x] Get the data.
0. [x] Prepare the data for exploration.
0. [ ] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [1]:
# basic ewnvironment and custom scripts
import os
import acquire
import prepare
import explore

# numpy and pandas for dataframe building and manipulation
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import operator

# matplotlib and seaborn for visualization
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# import preprocessing for scaling and splitting
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# sklearn machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

# conda install -c glemaitre imbalanced-learn
from imblearn.ensemble import BalancedBaggingClassifier

# to explode the DataFrames and avoid truncation
pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

# ACQUISITION

In [2]:
# utilize acquire script to get primary dataframe for analysis
dfa, dfb = acquire.get_data()

## _'dfa' : this is the dataframe with the NAW (Not Abused Woman) & AW (Abused Woman) cases._

In [3]:
dfa.shape

(705, 44)

## _'dfb' : this is the dataframe with the AW (Abused Woman) cases_

In [4]:
dfb.shape

(497, 29)

In [5]:
# placeholder cell: perhaps going to utilize these in a later phase

# df9 & 10 are cases of AW (Abused Woman)
df9 = acquire.read_data('data09.csv')
df10 = acquire.read_data('data10.csv')

# df 13, 14 & 15 are cases of HOMICIDE
df13 = acquire.read_data('data13.csv')
df14 = acquire.read_data('data14.csv')
df15 = acquire.read_data('data15.csv')

# PREPARATION

## _Examining the dataframes, dfa & dfb, for any missing or inconsistent values._

In [6]:
dfa.head(8).T

               0       1       2       3       4       5       6       7
CASEID    108395  108397  108399  108443  108444  108456  108460  108525
ABUSED         1       1       1       1       1       1       1       1
SCRSTATR       1       1       1       1       1       1       1       1
LENGTHC1       1       2       5       2       2       2       3       4
C1SITUAT       1       1       1       1       1       3       1       4
PABUSE         1       1       1       1       1       1       1       3
D3RCHILT       1       0       6       0       1       1       1       2
E13PRGNT       3       3       3       1       2       3     888       3
N7PREGNT       2       3       2       2       2       2       1       2
TOTSUPRT       9      11       9      12      11       2      10      11
G1NUMBER    9999    9999    9999    9999    9999    9999    9999    9999
H1JEALUS       1       1       1       1       1       1       1       1
H2LIMIT        2       2       2       2       2       2       2       1
H3KNOWNG       1       1       1       1       1       1       2       1
J1HIT          1       1       2       1       1       1       1       1
J2THROWN       1       2       1       1       2       2       2       1
J3PUSH         1       1       1       1       1       1       1       1
J4SLAP         2       1       2       1       1       1       1       1
J5KICK         2       2       2       2       2       1       1       1
J6OBJECT       2       2       2       1       2       2       2       1
J7BEAT         2       2       2       2       2       2       2       1
J8CHOKE        2       1       1       1       2       1       2       1
J9KNIFE        2       1       2       2       2       2       2       1
J10GUN         2       2       2       2       2       2       2       1
J11SEX         2       2       2       2       2       1       2       1
POWER          2       2       3       3       2       2       2       5
HARASS         3       5       2       5       3       8       2      13
B1AGE         18      30      27      19      18      18      18      36
AGEDISP        4       4       1       1       1       4       1       1
STDETAI        1       2       1       2       5       5       5       1
SAMESEXR    9999    9999    9999    9999    9999    9999    9999    9999
N11DRUGS       1       2       2       2       2       2       2       2
N12ALCHL       1       1       2       1       2       2       2       2
N13SUHIM       2       2       2       2       2       1       2       2
N16CHILD       2       2       2       2       2       2       2       2
N17ARRST       2       1       2       1       1       1       2       1
N1FRQNCY       2       2       2       2       1       2       2       1
N2SVRITY       2       1       2       2       1       2       2       1
N3WEAPON       2       1       2       1       2       2       2       1
N4CHOKE        2       1       1       1       2       1       2       1
N5SEX          2       1       2       2       2       1       2       1
N6CONTRL       2       2       2       1       2       2       2       1
N8JEALUS       2       1       2       2       2       1       1       1
N10CPBLE       2       1       2       2       2       1       1       1

In [7]:
dfb.head(8).T

               0       1       2       3       4       5       6       7
CASEID    108395  108397  108399  108443  108444  108456  108460  108525
M5FIRED     9999    9999    9999    9999    9999    9999    9999       1
M11HIGH        2       2       2       2       1       1       2       2
M35SAFE        1       1       1       1       1       1       1       1
M41ILLGL       2       2       2       2       2       2       2       1
M42DAGRR       0       0       0       0       0       1       0       1
M13TALKR       1       1       1       1       1       1       1       1
M32OTHER      99      99      99      13      99      11      11      41
M27HOW     99999   99999   99999   99999   99999      11   99999      21
M30ARRES       3       3       3       3       3       0       3       1
M31HOW       777     777     777     777     777      13     777       2
M38ORDER       3       3       3       3       3       3       3       1
SEVERER        1       2       2       2       1       1       1       2
TOTINCR        1       2       2       1       3       2       2       4
THREATR        0       0       0       0       0       2       0       4
SLAPR          0       1       1       0       3       0       1       4
PUNCHR         1       0       0       0       0       1       2       0
BEATR          0       0       1       1       0       0       0       0
UWEAPON        0       0       0       0       0       0       0       3
FORCEDR        0       0       0       0       0       0       0       0
MISCARR        0       0       0       0       0       0       0       0
RESTRAIN       0       0       1       0       0       0       0       0
CHOKED         0       1       1       1       0       0       0       0
NDRUNK         0       2       0       1       3       0       0       0
RDRUNK         0       0       0       0       0       0       0       0
BOTHDRUN       0       0       0       0       0       0       0       0
NDRUGS         0       0       0       0       0       0       0       0
RDRUGS         0       0       0       0       0       0       0       0
BOTHDRUG       0       0       0       0       0       0       0       0

In [8]:
prepare.get_nulls_by_column(dfa)

Empty DataFrame
Columns: [sum_nulls, nulls_by_percent]
Index: []

In [9]:
prepare.get_nulls_by_column(dfb)

Empty DataFrame
Columns: [sum_nulls, nulls_by_percent]
Index: []

In [10]:
prepare.get_nulls_by_row(dfa)

In [11]:
prepare.get_nulls_by_row(dfb)

In [12]:
prepare.summarize_data(dfa)

HEAD
   CASEID  ABUSED  SCRSTATR  LENGTHC1  C1SITUAT  PABUSE  D3RCHILT  E13PRGNT  \
0  108395       1         1         1         1       1         1         3
1  108397       1         1         2         1       1         0         3
2  108399       1         1         5         1       1         6         3
3  108443       1         1         2         1       1         0         1
4  108444       1         1         2         1       1         1         2

   N7PREGNT  TOTSUPRT    ...     N16CHILD  N17ARRST  N1FRQNCY  N2SVRITY  \
0         2         9    ...            2         2         2         2
1         3        11    ...            2         1         2         1
2         2         9    ...            2         2         2         2
3         2        12    ...            2         1         2         2
4         2        11    ...            2         1         1         1

   N3WEAPON  N4CHOKE  N5SEX  N6CONTRL  N8JEALUS  N10CPBLE
0         2        2      2         2         2         2
1         1        1      1         2         1         1
2         2        1      2         2         2         2
3         1        1      2         1         2         2
4         2        2      2         2         2         2

[5 rows x 44 columns]

TAIL
     CASEID  ABUSED  SCRSTATR  LENGTHC1  C1SITUAT  PABUSE  D3RCHILT  E13PRGNT  \
700  809675       2         2         5         9       9         4         3
701  908001       1         1         3         1       1         1         2
702  908003       1         1         4         1       1        12       999
703  909002       2         3         5         9       9         3         3
704  909004       2         1         4         9       9         3         1

     N7PREGNT  TOTSUPRT    ...     N16CHILD  N17ARRST  N1FRQNCY  N2SVRITY  \
700         9         6    ...            2         2         3         3
701       999       999    ...          999       999       999       999
702       999       999    ...          999       999       999       999
703         9         9    ...          999       999         3         3
704         9        11    ...            2         2         3         3

     N3WEAPON  N4CHOKE  N5SEX  N6CONTRL  N8JEALUS  N10CPBLE
700         3        3      3         3         3         3
701       999      999    999       999       999       999
702       999      999    999       999       999       999
703       999      999    999       999       999       999
704      9999     9999   9999       999       999      9999

[5 rows x 44 columns]

SHAPE: (705, 44)

DESCRIPTION
              CASEID      ABUSED    SCRSTATR    LENGTHC1    C1SITUAT  \
count     705.000000  705.000000  705.000000  705.000000  705.000000
mean   381725.114894    1.295035   25.558865    3.144681    3.638298
std    199126.823457    0.456382  153.127592    1.680961    3.537294
min    108395.000000    1.000000    1.000000    1.000000    1.000000
25%    308008.000000    1.000000    1.000000    2.000000    1.000000
50%    309154.000000    1.000000    1.000000    3.000000    1.000000
75%    508546.000000    2.000000    2.000000    5.000000    9.000000
max    909004.000000    2.000000  999.000000    6.000000    9.000000

           PABUSE    D3RCHILT    E13PRGNT    N7PREGNT    TOTSUPRT  \
count  705.000000  705.000000  705.000000  705.000000  705.000000
mean     3.415603    5.710638   18.146099   19.350355   11.702128
std      3.624653   62.239719  118.368202  117.739917   52.787436
min      1.000000    0.000000    1.000000    1.000000    0.000000
25%      1.000000    0.000000    2.000000    2.000000    7.000000
50%      1.000000    1.000000    3.000000    2.000000   10.000000
75%      9.000000    2.000000    3.000000    9.000000   11.000000
max      9.000000  999.000000  999.000000  999.000000  999.000000

          ...         N16CHILD    N17ARRST    N1FRQNCY    N2SVRITY  \
count     ...       705.000000  705.000000  705.000000  705.000000
mean      ...        43.432624   51.740426   13.188652   13.182979
std       ...       190.624568  208.290783  104.277792  104.278428
min       ...         1.000000    1.000000    1.000000    1.000000
25%       ...         2.000000    1.000000    1.000000    1.000000
50%       ...         2.000000    1.000000    2.000000    2.000000
75%       ...         2.000000    2.000000    3.000000    3.000000
max       ...       999.000000  999.000000  999.000000  999.000000

          N3WEAPON      N4CHOKE        N5SEX    N6CONTRL    N8JEALUS  \
count   705.000000   705.000000   705.000000  705.000000  705.000000
mean     28.934752    27.392908    28.731915   14.588652   17.103546
std     392.354155   390.654274   391.989586  112.024644  121.284294
min       1.000000     1.000000     1.000000    1.000000    1.000000
25%       1.000000     1.000000     1.000000    1.000000    1.000000
50%       2.000000     2.000000     2.000000    2.000000    2.000000
75%       3.000000     3.000000     3.000000    3.000000    3.000000
max    9999.000000  9999.000000  9999.000000  999.000000  999.000000

          N10CPBLE
count   705.000000
mean     56.320567
std     419.461220
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max    9999.000000

[8 rows x 44 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 44 columns):
CASEID      705 non-null int64
ABUSED      705 non-null int64
SCRSTATR    705 non-null int64
LENGTHC1    705 non-null int64
C1SITUAT    705 non-null int64
PABUSE      705 non-null int64
D3RCHILT    705 non-null int64
E13PRGNT    705 non-null int64
N7PREGNT    705 non-null int64
TOTSUPRT    705 non-null int64
G1NUMBER    705 non-null int64
H1JEALUS    705 non-null int64
H2LIMIT     705 non-null int64
H3KNOWNG    705 non-null int64
J1HIT       705 non-null int64
J2THROWN    705 non-null int64
J3PUSH      705 non-null int64
J4SLAP      705 non-null int64
J5KICK      705 non-null int64
J6OBJECT    705 non-null int64
J7BEAT      705 non-null int64
J8CHOKE     705 non-null int64
J9KNIFE     705 non-null int64
J10GUN      705 non-null int64
J11SEX      705 non-null int64
POWER       705 non-null int64
HARASS      705 non-null int64
B1AGE       705 non-null int64
AGEDISP     705 non-null int64
STDETAI     705 non-null int64
SAMESEXR    705 non-null int64
N11DRUGS    705 non-null int64
N12ALCHL    705 non-null int64
N13SUHIM    705 non-null int64
N16CHILD    705 non-null int64
N17ARRST    705 non-null int64
N1FRQNCY    705 non-null int64
N2SVRITY    705 non-null int64
N3WEAPON    705 non-null int64
N4CHOKE     705 non-null int64
N5SEX       705 non-null int64
N6CONTRL    705 non-null int64
N8JEALUS    705 non-null int64
N10CPBLE    705 non-null int64
dtypes: int64(44)
memory usage: 242.4 KB
INFORMATION
CASEID

-------------------------------------------------------------

ABUSED
1    497
2    208
Name: ABUSED, dtype: int64

-------------------------------------------------------------

SCRSTATR
1      455
2      118
3      115
999     17
Name: SCRSTATR, dtype: int64

-------------------------------------------------------------

LENGTHC1
1    159
2    153
3     83
4    105
5    147
6     58
Name: LENGTHC1, dtype: int64

-------------------------------------------------------------

C1SITUAT
1    395
2     18
3     74
4     10
9    208
Name: C1SITUAT, dtype: int64

-------------------------------------------------------------

PABUSE
1    464
2     27
3      6
9    208
Name: PABUSE, dtype: int64

-------------------------------------------------------------

D3RCHILT
0      339
1      136
2      113
3       57
4       32
5        9
6        9
7        5
12       1
555      1
666      1
999      2
Name: D3RCHILT, dtype: int64

-------------------------------------------------------------

E13PRGNT
1       74
2      127
3      492
888      9
999      3
Name: E13PRGNT, dtype: int64

-------------------------------------------------------------

N7PREGNT
1      130
2      303
3       52
9      208
777      5
999      7
Name: N7PREGNT, dtype: int64

-------------------------------------------------------------

TOTSUPRT
0        9
1       10
2       16
3       27
4       20
5       28
6       35
7       47
8       57
9       68
10      98
11     134
12     154
999      2
Name: TOTSUPRT, dtype: int64

-------------------------------------------------------------

G1NUMBER
1        22
2         6
3         2
7         1
15        1
9999    654
888       3
999      16
Name: G1NUMBER, dtype: int64

-------------------------------------------------------------

H1JEALUS
1      487
2      214
4        1
999      3
Name: H1JEALUS, dtype: int64

-------------------------------------------------------------

H2LIMIT
1      336
2      365
4        1
999      3
Name: H2LIMIT, dtype: int64

-------------------------------------------------------------

H3KNOWNG
1      462
2      238
4        1
999      4
Name: H3KNOWNG, dtype: int64

-------------------------------------------------------------

J1HIT
1      374
2      325
4        1
666      1
999      4
Name: J1HIT, dtype: int64

-------------------------------------------------------------

J2THROWN
1      235
2      464
4        1
666      1
999      4
Name: J2THROWN, dtype: int64

-------------------------------------------------------------

J3PUSH
1      436
2      263
4        1
666      1
999      4
Name: J3PUSH, dtype: int64

-------------------------------------------------------------

J4SLAP
1      327
2      371
4        1
666      1
999      5
Name: J4SLAP, dtype: int64

-------------------------------------------------------------

J5KICK
1      280
2      419
666      1
888      1
999      4
Name: J5KICK, dtype: int64

-------------------------------------------------------------

J6OBJECT
1      177
2      522
4        1
666      1
999      4
Name: J6OBJECT, dtype: int64

-------------------------------------------------------------

J7BEAT
1      221
2      478
4        1
666      1
999      4
Name: J7BEAT, dtype: int64

-------------------------------------------------------------

J8CHOKE
1      232
2      468
666      1
999      4
Name: J8CHOKE, dtype: int64

-------------------------------------------------------------

J9KNIFE
1      112
2      588
666      1
999      4
Name: J9KNIFE, dtype: int64

-------------------------------------------------------------

J10GUN
1       69
2      631
666      1
999      4
Name: J10GUN, dtype: int64

-------------------------------------------------------------

J11SEX
1      174
2      525
4        1
666      1
999      4
Name: J11SEX, dtype: int64

-------------------------------------------------------------

POWER
0      120
1      101
2       83
3      107
4      116
5      175
999      3
Name: POWER, dtype: int64

-------------------------------------------------------------

HARASS
0     156
1      90
2      66
3      63
4      43
5      60
6      55
7      38
8      29
9      21
10     26
11     13
12     16
13     13
14      9
15      3
16      1
17      3
Name: HARASS, dtype: int64

-------------------------------------------------------------

B1AGE
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: B1AGE, dtype: int64

-------------------------------------------------------------

AGEDISP
1      399
2       41
3       17
4      143
5       81
6       15
999      9
Name: AGEDISP, dtype: int64

-------------------------------------------------------------

STDETAI
1      171
2      337
3       14
4        3
5      173
6        2
7        2
999      3
Name: STDETAI, dtype: int64

-------------------------------------------------------------

SAMESEXR
1        19
9999    686
Name: SAMESEXR, dtype: int64

-------------------------------------------------------------

N11DRUGS
1      200
2      480
888     15
999     10
Name: N11DRUGS, dtype: int64

-------------------------------------------------------------

N12ALCHL
1      285
2      409
888      3
999      8
Name: N12ALCHL, dtype: int64

-------------------------------------------------------------

N13SUHIM
1      129
2      554
888     13
999      9
Name: N13SUHIM, dtype: int64

-------------------------------------------------------------

N16CHILD
1       30
2      643
888     24
999      8
Name: N16CHILD, dtype: int64

-------------------------------------------------------------

N17ARRST
1      375
2      291
888     31
999      8
Name: N17ARRST, dtype: int64

-------------------------------------------------------------

N1FRQNCY
1      185
2      304
3      208
888      1
999      7
Name: N1FRQNCY, dtype: int64

-------------------------------------------------------------

N2SVRITY
1      189
2      300
3      208
888      1
999      7
Name: N2SVRITY, dtype: int64

-------------------------------------------------------------

N3WEAPON
1       185
2       306
3       204
9999      1
999       9
Name: N3WEAPON, dtype: int64

-------------------------------------------------------------

N4CHOKE
1       275
2       217
3       204
9999      1
999       8
Name: N4CHOKE, dtype: int64

-------------------------------------------------------------

N5SEX
1       217
2       274
3       204
9999      1
888       1
999       8
Name: N5SEX, dtype: int64

-------------------------------------------------------------

N6CONTRL
1      302
2      190
3      204
999      9
Name: N6CONTRL, dtype: int64

-------------------------------------------------------------

N8JEALUS
1      301
2      189
3      204
888      2
999      9
Name: N8JEALUS, dtype: int64

-------------------------------------------------------------

N10CPBLE
1       259
2       210
3       204
9999      1
888      23
999       8
Name: N10CPBLE, dtype: int64

-------------------------------------------------------------

In [13]:
prepare.summarize_data(dfb)

HEAD
   CASEID  M5FIRED  M11HIGH  M35SAFE  M41ILLGL  M42DAGRR  M13TALKR  M32OTHER  \
0  108395     9999        2        1         2         0         1        99
1  108397     9999        2        1         2         0         1        99
2  108399     9999        2        1         2         0         1        99
3  108443     9999        2        1         2         0         1        13
4  108444     9999        1        1         2         0         1        99

   M27HOW  M30ARRES    ...     FORCEDR  MISCARR  RESTRAIN  CHOKED  NDRUNK  \
0   99999         3    ...           0        0         0       0       0
1   99999         3    ...           0        0         0       1       2
2   99999         3    ...           0        0         1       1       0
3   99999         3    ...           0        0         0       1       1
4   99999         3    ...           0        0         0       0       3

   RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
0       0         0       0       0         0
1       0         0       0       0         0
2       0         0       0       0         0
3       0         0       0       0         0
4       0         0       0       0         0

[5 rows x 29 columns]

TAIL
     CASEID  M5FIRED  M11HIGH  M35SAFE  M41ILLGL  M42DAGRR  M13TALKR  \
492  808678     9999        2        1         2         0         2
493  808695     9999        1        1         2         1         1
494  808696     9999        1        1         2         1         1
495  908001      999      999      999       999       999       999
496  908003      999      999      999       999       999       999

     M32OTHER  M27HOW  M30ARRES    ...     FORCEDR  MISCARR  RESTRAIN  CHOKED  \
492        99   99999         2    ...           0        0         0       0
493        16   99999         1    ...           4        0         1      99
494        18   99999         3    ...           0        0         0      99
495        99    9999       999    ...         999      999       999     999
496        99    9999       999    ...         999      999       999     999

     NDRUNK  RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
492       0       0         0       0       0         0
493       0       0         0      28       0         0
494       0       0         0       0       0         0
495     999     999       999     999     999       999
496     999     999       999     999     999       999

[5 rows x 29 columns]

SHAPE: (497, 29)

DESCRIPTION
              CASEID      M5FIRED     M11HIGH     M35SAFE    M41ILLGL  \
count     497.000000   497.000000  497.000000  497.000000  497.000000
mean   387964.422535  8936.913481   15.392354   19.267606   19.881288
std    197319.742270  3077.792007  114.044050  133.185850  133.102374
min    108395.000000     1.000000    1.000000    1.000000    1.000000
25%    308037.000000  9999.000000    2.000000    1.000000    2.000000
50%    308498.000000  9999.000000    2.000000    1.000000    2.000000
75%    508541.000000  9999.000000    2.000000    1.000000    2.000000
max    908003.000000  9999.000000  999.000000  999.000000  999.000000

         M42DAGRR    M13TALKR    M32OTHER        M27HOW    M30ARRES  \
count  497.000000  497.000000  497.000000    497.000000  497.000000
mean    16.581489   11.321932   67.959759  86853.790744   14.199195
std    125.784706   99.668892   38.969415  33366.834308  108.979479
min      0.000000    1.000000   11.000000     11.000000    0.000000
25%      0.000000    1.000000   19.000000  99999.000000    1.000000
50%      1.000000    1.000000   99.000000  99999.000000    3.000000
75%      1.000000    2.000000   99.000000  99999.000000    3.000000
max    999.000000  999.000000   99.000000  99999.000000  999.000000

          ...         FORCEDR     MISCARR    RESTRAIN      CHOKED      NDRUNK  \
count     ...      497.000000  497.000000  497.000000  497.000000  497.000000
mean      ...        8.519115    8.064386    8.261569   32.092555   12.044266
std       ...       89.313737   89.349057   89.341769   96.890920   89.940740
min       ...        0.000000    0.000000    0.000000    0.000000    0.000000
25%       ...        0.000000    0.000000    0.000000    0.000000    0.000000
50%       ...        0.000000    0.000000    0.000000    0.000000    0.000000
75%       ...        0.000000    0.000000    0.000000    6.000000    2.000000
max       ...      999.000000  999.000000  999.000000  999.000000  999.000000

          RDRUNK    BOTHDRUN      NDRUGS      RDRUGS    BOTHDRUG
count  497.00000  497.000000  497.000000  497.000000  497.000000
mean     8.60161    8.456740   10.219316    8.764588    8.525151
std     89.33316   89.334517   89.678223   89.351827   89.342535
min      0.00000    0.000000    0.000000    0.000000    0.000000
25%      0.00000    0.000000    0.000000    0.000000    0.000000
50%      0.00000    0.000000    0.000000    0.000000    0.000000
75%      0.00000    0.000000    1.000000    0.000000    0.000000
max    999.00000  999.000000  999.000000  999.000000  999.000000

[8 rows x 29 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 29 columns):
CASEID      497 non-null int64
M5FIRED     497 non-null int64
M11HIGH     497 non-null int64
M35SAFE     497 non-null int64
M41ILLGL    497 non-null int64
M42DAGRR    497 non-null int64
M13TALKR    497 non-null int64
M32OTHER    497 non-null int64
M27HOW      497 non-null int64
M30ARRES    497 non-null int64
M31HOW      497 non-null int64
M38ORDER    497 non-null int64
SEVERER     497 non-null int64
TOTINCR     497 non-null int64
THREATR     497 non-null int64
SLAPR       497 non-null int64
PUNCHR      497 non-null int64
BEATR       497 non-null int64
UWEAPON     497 non-null int64
FORCEDR     497 non-null int64
MISCARR     497 non-null int64
RESTRAIN    497 non-null int64
CHOKED      497 non-null int64
NDRUNK      497 non-null int64
RDRUNK      497 non-null int64
BOTHDRUN    497 non-null int64
NDRUGS      497 non-null int64
RDRUGS      497 non-null int64
BOTHDRUG    497 non-null int64
dtypes: int64(29)
memory usage: 112.7 KB
INFORMATION
CASEID

-------------------------------------------------------------

M5FIRED
1        10
2        41
9999    444
999       2
Name: M5FIRED, dtype: int64

-------------------------------------------------------------

M11HIGH
1      101
2      389
888      2
999      5
Name: M11HIGH, dtype: int64

-------------------------------------------------------------

M35SAFE
1      391
2       97
999      9
Name: M35SAFE, dtype: int64

-------------------------------------------------------------

M41ILLGL
1       86
2      402
999      9
Name: M41ILLGL, dtype: int64

-------------------------------------------------------------

M42DAGRR
0      240
1      249
999      8
Name: M42DAGRR, dtype: int64

-------------------------------------------------------------

M13TALKR
1      352
2      140
999      5
Name: M13TALKR, dtype: int64

-------------------------------------------------------------

M32OTHER
(10.911000000000001, 19.8]    125
(19.8, 28.6]                   20
(28.6, 37.4]                   17
(37.4, 46.2]                   36
(46.2, 55.0]                    0
(55.0, 63.8]                    0
(63.8, 72.6]                    0
(72.6, 81.4]                    0
(81.4, 90.2]                    0
(90.2, 99.0]                  299
Name: M32OTHER, dtype: int64

-------------------------------------------------------------

M27HOW
11         7
21         7
22         6
23         3
24         2
31         9
32         5
33         7
41         2
7777      11
99999    430
9999       8
Name: M27HOW, dtype: int64

-------------------------------------------------------------

M30ARRES
0       70
1       83
2       34
3      304
999      6
Name: M30ARRES, dtype: int64

-------------------------------------------------------------

M31HOW
1       30
2        7
3        8
4       26
5        6
6        8
7        3
8        7
9        4
10       3
11       2
12       5
13       7
777    363
999     18
Name: M31HOW, dtype: int64

-------------------------------------------------------------

M38ORDER
1        24
2        39
3       427
9999      1
999       6
Name: M38ORDER, dtype: int64

-------------------------------------------------------------

SEVERER
1    255
2    238
9      4
Name: SEVERER, dtype: int64

-------------------------------------------------------------

TOTINCR
1      143
2      167
3       74
4      109
999      4
Name: TOTINCR, dtype: int64

-------------------------------------------------------------

THREATR
0      388
1       45
2       19
3       19
4       22
999      4
Name: THREATR, dtype: int64

-------------------------------------------------------------

SLAPR
0      215
1      123
2       79
3       40
4       36
999      4
Name: SLAPR, dtype: int64

-------------------------------------------------------------

PUNCHR
0      255
1      116
2       74
3       28
4       20
999      4
Name: PUNCHR, dtype: int64

-------------------------------------------------------------

BEATR
0      316
1      116
2       45
3       11
4        5
999      4
Name: BEATR, dtype: int64

-------------------------------------------------------------

UWEAPON
0      432
1       49
2        9
3        2
8        1
999      4
Name: UWEAPON, dtype: int64

-------------------------------------------------------------

FORCEDR
0      374
1       57
2       25
3       17
4       20
999      4
Name: FORCEDR, dtype: int64

-------------------------------------------------------------

MISCARR
0      481
1       12
999      4
Name: MISCARR, dtype: int64

-------------------------------------------------------------

RESTRAIN
0      436
1       49
2        2
3        3
8        1
17       1
23       1
999      4
Name: RESTRAIN, dtype: int64

-------------------------------------------------------------

CHOKED
0      314
1       49
2        8
3        1
6        1
99     120
999      4
Name: CHOKED, dtype: int64

-------------------------------------------------------------

NDRUNK
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: NDRUNK, dtype: int64

-------------------------------------------------------------

RDRUNK
0      413
1       37
2       14
3        8
4        5
5        6
6        2
7        2
9        1
12       1
17       1
22       1
23       1
31       1
999      4
Name: RDRUNK, dtype: int64

-------------------------------------------------------------

BOTHDRUN
0      431
1       30
2        9
3        8
4        2
5        6
7        2
9        1
12       1
17       1
22       1
23       1
999      4
Name: BOTHDRUN, dtype: int64

-------------------------------------------------------------

NDRUGS
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: NDRUGS, dtype: int64

-------------------------------------------------------------

RDRUGS
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: RDRUGS, dtype: int64

-------------------------------------------------------------

BOTHDRUG
0      450
1       12
2        7
3        7
4        4
5        2
7        2
9        1
10       1
12       1
15       1
17       1
21       1
22       1
23       1
25       1
999      4
Name: BOTHDRUG, dtype: int64

-------------------------------------------------------------

## _We will utilize the first dataframe's Case IDs to group our incident data from set 10 to group by incident and identify surveyed individuals that were victim to more than one instance of abuse_

In [15]:
dfa['RECID'] = dfa.CASEID.apply(prepare.get_repeat_case)

## _This new column, RECID, is a boolean value that tells us whether the cases were re-assault cases or not._

In [17]:
# look at unaltered value counts
prepare.value_counts(dfa)

CASEID

-------------------------------------------------------------

ABUSED
1    497
2    208
Name: ABUSED, dtype: int64

-------------------------------------------------------------

SCRSTATR
1      455
2      118
3      115
999     17
Name: SCRSTATR, dtype: int64

-------------------------------------------------------------

LENGTHC1
1    159
2    153
3     83
4    105
5    147
6     58
Name: LENGTHC1, dtype: int64

-------------------------------------------------------------

C1SITUAT
1    395
2     18
3     74
4     10
9    208
Name: C1SITUAT, dtype: int64

-------------------------------------------------------------

PABUSE
1    464
2     27
3      6
9    208
Name: PABUSE, dtype: int64

-------------------------------------------------------------

D3RCHILT
0      339
1      136
2      113
3       57
4       32
5        9
6        9
7        5
12       1
555      1
666      1
999      2
Name: D3RCHILT, dtype: int64

-------------------------------------------------------------

E13PRGNT
1       74
2      127
3      492
888      9
999      3
Name: E13PRGNT, dtype: int64

-------------------------------------------------------------

N7PREGNT
1      130
2      303
3       52
9      208
777      5
999      7
Name: N7PREGNT, dtype: int64

-------------------------------------------------------------

TOTSUPRT
0        9
1       10
2       16
3       27
4       20
5       28
6       35
7       47
8       57
9       68
10      98
11     134
12     154
999      2
Name: TOTSUPRT, dtype: int64

-------------------------------------------------------------

G1NUMBER
1        22
2         6
3         2
7         1
15        1
9999    654
888       3
999      16
Name: G1NUMBER, dtype: int64

-------------------------------------------------------------

H1JEALUS
1      487
2      214
4        1
999      3
Name: H1JEALUS, dtype: int64

-------------------------------------------------------------

H2LIMIT
1      336
2      365
4        1
999      3
Name: H2LIMIT, dtype: int64

-------------------------------------------------------------

H3KNOWNG
1      462
2      238
4        1
999      4
Name: H3KNOWNG, dtype: int64

-------------------------------------------------------------

J1HIT
1      374
2      325
4        1
666      1
999      4
Name: J1HIT, dtype: int64

-------------------------------------------------------------

J2THROWN
1      235
2      464
4        1
666      1
999      4
Name: J2THROWN, dtype: int64

-------------------------------------------------------------

J3PUSH
1      436
2      263
4        1
666      1
999      4
Name: J3PUSH, dtype: int64

-------------------------------------------------------------

J4SLAP
1      327
2      371
4        1
666      1
999      5
Name: J4SLAP, dtype: int64

-------------------------------------------------------------

J5KICK
1      280
2      419
666      1
888      1
999      4
Name: J5KICK, dtype: int64

-------------------------------------------------------------

J6OBJECT
1      177
2      522
4        1
666      1
999      4
Name: J6OBJECT, dtype: int64

-------------------------------------------------------------

J7BEAT
1      221
2      478
4        1
666      1
999      4
Name: J7BEAT, dtype: int64

-------------------------------------------------------------

J8CHOKE
1      232
2      468
666      1
999      4
Name: J8CHOKE, dtype: int64

-------------------------------------------------------------

J9KNIFE
1      112
2      588
666      1
999      4
Name: J9KNIFE, dtype: int64

-------------------------------------------------------------

J10GUN
1       69
2      631
666      1
999      4
Name: J10GUN, dtype: int64

-------------------------------------------------------------

J11SEX
1      174
2      525
4        1
666      1
999      4
Name: J11SEX, dtype: int64

-------------------------------------------------------------

POWER
0      120
1      101
2       83
3      107
4      116
5      175
999      3
Name: POWER, dtype: int64

-------------------------------------------------------------

HARASS
0     156
1      90
2      66
3      63
4      43
5      60
6      55
7      38
8      29
9      21
10     26
11     13
12     16
13     13
14      9
15      3
16      1
17      3
Name: HARASS, dtype: int64

-------------------------------------------------------------

B1AGE
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: B1AGE, dtype: int64

-------------------------------------------------------------

AGEDISP
1      399
2       41
3       17
4      143
5       81
6       15
999      9
Name: AGEDISP, dtype: int64

-------------------------------------------------------------

STDETAI
1      171
2      337
3       14
4        3
5      173
6        2
7        2
999      3
Name: STDETAI, dtype: int64

-------------------------------------------------------------

SAMESEXR
1        19
9999    686
Name: SAMESEXR, dtype: int64

-------------------------------------------------------------

N11DRUGS
1      200
2      480
888     15
999     10
Name: N11DRUGS, dtype: int64

-------------------------------------------------------------

N12ALCHL
1      285
2      409
888      3
999      8
Name: N12ALCHL, dtype: int64

-------------------------------------------------------------

N13SUHIM
1      129
2      554
888     13
999      9
Name: N13SUHIM, dtype: int64

-------------------------------------------------------------

N16CHILD
1       30
2      643
888     24
999      8
Name: N16CHILD, dtype: int64

-------------------------------------------------------------

N17ARRST
1      375
2      291
888     31
999      8
Name: N17ARRST, dtype: int64

-------------------------------------------------------------

N1FRQNCY
1      185
2      304
3      208
888      1
999      7
Name: N1FRQNCY, dtype: int64

-------------------------------------------------------------

N2SVRITY
1      189
2      300
3      208
888      1
999      7
Name: N2SVRITY, dtype: int64

-------------------------------------------------------------

N3WEAPON
1       185
2       306
3       204
9999      1
999       9
Name: N3WEAPON, dtype: int64

-------------------------------------------------------------

N4CHOKE
1       275
2       217
3       204
9999      1
999       8
Name: N4CHOKE, dtype: int64

-------------------------------------------------------------

N5SEX
1       217
2       274
3       204
9999      1
888       1
999       8
Name: N5SEX, dtype: int64

-------------------------------------------------------------

N6CONTRL
1      302
2      190
3      204
999      9
Name: N6CONTRL, dtype: int64

-------------------------------------------------------------

N8JEALUS
1      301
2      189
3      204
888      2
999      9
Name: N8JEALUS, dtype: int64

-------------------------------------------------------------

N10CPBLE
1       259
2       210
3       204
9999      1
888      23
999       8
Name: N10CPBLE, dtype: int64

-------------------------------------------------------------

RECID
0    355
1    350
Name: RECID, dtype: int64

-------------------------------------------------------------

In [ ]:
# change dfa to df to match conventions of prepare.py
df = dfa
#use prepare function to rename features 
prepare.rename_columns_all(df)
dfa = df

In [ ]:
dfa.head()

In [ ]:
#use prepare function to rename features 
prepare.rename_columns_recid(dfb)

In [ ]:
dfb.head()

In [ ]:
# run function to replace nonvalues and change values to conventionally boolean archetypes
prepare.replace_nonvals_all(dfa)

In [ ]:
# run function to replace nonvalues and change values to conventionally boolean archetypes
prepare.replace_nonvals_recid(dfb)

In [ ]:
dfa = dfa[dfa.abuse_past_year == 1]

In [ ]:
dfa.columns

In [ ]:
dfa = dfa.drop(columns=['guns_in_home',
                        'threat_hit',
                        'beaten',
                        'choked',
                        'threat_knife',
                        'threat_gun',
                        'rape_with_threat',
                        'partner_drug_use',
                        'partner_alcohol_use',
                        'weapon_ever',
                        'choked_ever',
                        'jealous_past_year'
                       ])

In [ ]:
dfa.shape

In [ ]:
dfb.columns

In [ ]:
# dfb = dfb.drop(columns=['M5FIRED',
#                         'M27HOW',
#                         'police_resp',
#                         'order_protection',
#                         'num_woman_drunk',
#                         'num_perp_drunk',
#                         'num_woman_drugs',
#                         'num_perp_drugs',
#                        ])

In [ ]:
dfb.shape

In [ ]:
dfa.reassault.value_counts()

## _Merge dfa and dfb on ID._

In [ ]:
dfb = dfa.merge(right=dfb, on='id')

In [ ]:
dfb.shape

In [ ]:
dfb.head()

In [ ]:
dfb.columns

In [ ]:
dfb.head(5).T

In [ ]:
missing_values_col(dfb)

In [ ]:
dfb.reassault.value_counts()

## Train / Test Split

In [ ]:
np.any(np.isnan(dfb)) # True
# np.all(np.isfinite(dfb)) # False

## _151 NaNs in reassault column?!_

In [ ]:
# b_columns = ['',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#              '',
#             ]

# X = dfb.drop(columns=['reassault'])
# y = dfb[['reassault']]

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .15, random_state = 0, stratify=y)

# train_df = pd.concat([X_train, y_train], axis=1)
# test_df = pd.concat([X_test, y_test], axis=1)

# EXPLORATION

In [ ]:
def plot_hist(df):
    """
    Plots the distribution of the dataframe's variables.
    """
    df.hist(figsize=(24, 20), bins=20)

In [ ]:
plot_hist(dfa)

In [ ]:
plot_hist(dfb)