# PLAN

0. [x] Get the data.
0. [x] Prepare the data for exploration.
0. [x] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [2]:
import os
import acquire
import prepare

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

# conda install -c glemaitre imbalanced-learn
from imblearn.ensemble import BalancedBaggingClassifier

# ACQUISITION

In [3]:
# read in data from separate csvs
df1 = acquire.read_data('data01.csv')
df2 = acquire.read_data('data02.csv')
df3 = acquire.read_data('data03.csv')
df4 = acquire.read_data('data04.csv')
df5 = acquire.read_data('data05.csv')
df7 = acquire.read_data('data07.csv')

In [4]:
# list of dataframes before merge
dfs = [df1, df2, df3, df4, df5, df7]

In [5]:
# Specify columns to take from dataframes 1, 2, 3, 4, 5, and 7:


one_cols = ['CASEID',
            'ABUSED',
            'SCRSTATR',
            'LENGTHC1',
            'C1SITUAT',
            'PABUSE',
             ]


two_cols = ['CASEID',
            'D3RCHILT',
           ]

three_cols = ['CASEID',
              'E13PRGNT',
              'N7PREGNT',
              'TOTSUPRT'
             ]

four_cols = ['CASEID',
             'G1NUMBER', 
             'H1JEALUS', 
             'H2LIMIT',
             'H3KNOWNG',
             'J1HIT',
             'J2THROWN',
             'J3PUSH',
             'J4SLAP',
             'J5KICK',
             'J6OBJECT',
             'J7BEAT',
             'J8CHOKE',
             'J9KNIFE',
             'J10GUN',
             'J11SEX',
             'POWER',
             'HARASS',
            ]

five_cols = ['CASEID', 
             'B1AGE',
             'AGEDISP',
             'STDETAI',
            ]

seven_cols = ['CASEID',
              'SAMESEXR',
              'N11DRUGS',
              'N12ALCHL',
              'N13SUHIM',
              'N16CHILD',
              'N17ARRST',
              'N1FRQNCY',
              'N2SVRITY',
              'N3WEAPON',
              'N4CHOKE',
              'N5SEX',
              'N6CONTRL',
              'N8JEALUS',
              'N10CPBLE',
             ]

In [6]:
# drop dataframes down to desired features
df1 = df1[one_cols]
df2 = df2[two_cols]
df3 = df3[three_cols]
df4 = df4[four_cols]
df5 = df5[five_cols]
df7 = df7[seven_cols]

In [7]:
#establish congruent shapes for merge
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df7.shape)

(705, 6)
(705, 2)
(705, 4)
(705, 18)
(705, 4)
(705, 15)

In [9]:
# do the merges
dfa = df1.merge(right=df2, on='CASEID')
dfa = dfa.merge(right=df3, on='CASEID')
dfa = dfa.merge(right=df4, on='CASEID')
dfa = dfa.merge(right=df5, on='CASEID')
dfa = dfa.merge(right=df7, on='CASEID')

In [10]:
# establish merged shape
dfa.shape

(705, 44)

In [11]:
# look at unaltered value counts
prepare.value_counts(dfa)

1    497
2    208
Name: ABUSED, dtype: int64
1      455
2      118
3      115
999     17
Name: SCRSTATR, dtype: int64
1    159
2    153
3     83
4    105
5    147
6     58
Name: LENGTHC1, dtype: int64
1    395
2     18
3     74
4     10
9    208
Name: C1SITUAT, dtype: int64
1    464
2     27
3      6
9    208
Name: PABUSE, dtype: int64
0      339
1      136
2      113
3       57
4       32
5        9
6        9
7        5
12       1
555      1
666      1
999      2
Name: D3RCHILT, dtype: int64
1       74
2      127
3      492
888      9
999      3
Name: E13PRGNT, dtype: int64
1      130
2      303
3       52
9      208
777      5
999      7
Name: N7PREGNT, dtype: int64
0        9
1       10
2       16
3       27
4       20
5       28
6       35
7       47
8       57
9       68
10      98
11     134
12     154
999      2
Name: TOTSUPRT, dtype: int64
1        22
2         6
3         2
7         1
15        1
9999    654
888       3
999      16
Name: G1NUMBER, dtype: int64
1      487
2      214
4        1
999      3
Name: H1JEALUS, dtype: int64
1      336
2      365
4        1
999      3
Name: H2LIMIT, dtype: int64
1      462
2      238
4        1
999      4
Name: H3KNOWNG, dtype: int64
1      374
2      325
4        1
666      1
999      4
Name: J1HIT, dtype: int64
1      235
2      464
4        1
666      1
999      4
Name: J2THROWN, dtype: int64
1      436
2      263
4        1
666      1
999      4
Name: J3PUSH, dtype: int64
1      327
2      371
4        1
666      1
999      5
Name: J4SLAP, dtype: int64
1      280
2      419
666      1
888      1
999      4
Name: J5KICK, dtype: int64
1      177
2      522
4        1
666      1
999      4
Name: J6OBJECT, dtype: int64
1      221
2      478
4        1
666      1
999      4
Name: J7BEAT, dtype: int64
1      232
2      468
666      1
999      4
Name: J8CHOKE, dtype: int64
1      112
2      588
666      1
999      4
Name: J9KNIFE, dtype: int64
1       69
2      631
666      1
999      4
Name: J10GUN, dtype: int64
1      174
2      525
4        1
666      1
999      4
Name: J11SEX, dtype: int64
0      120
1      101
2       83
3      107
4      116
5      175
999      3
Name: POWER, dtype: int64
0     156
1      90
2      66
3      63
4      43
5      60
6      55
7      38
8      29
9      21
10     26
11     13
12     16
13     13
14      9
15      3
16      1
17      3
Name: HARASS, dtype: int64
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: B1AGE, dtype: int64
1      399
2       41
3       17
4      143
5       81
6       15
999      9
Name: AGEDISP, dtype: int64
1      171
2      337
3       14
4        3
5      173
6        2
7        2
999      3
Name: STDETAI, dtype: int64
1        19
9999    686
Name: SAMESEXR, dtype: int64
1      200
2      480
888     15
999     10
Name: N11DRUGS, dtype: int64
1      285
2      409
888      3
999      8
Name: N12ALCHL, dtype: int64
1      129
2      554
888     13
999      9
Name: N13SUHIM, dtype: int64
1       30
2      643
888     24
999      8
Name: N16CHILD, dtype: int64
1      375
2      291
888     31
999      8
Name: N17ARRST, dtype: int64
1      185
2      304
3      208
888      1
999      7
Name: N1FRQNCY, dtype: int64
1      189
2      300
3      208
888      1
999      7
Name: N2SVRITY, dtype: int64
1       185
2       306
3       204
9999      1
999       9
Name: N3WEAPON, dtype: int64
1       275
2       217
3       204
9999      1
999       8
Name: N4CHOKE, dtype: int64
1       217
2       274
3       204
9999      1
888       1
999       8
Name: N5SEX, dtype: int64
1      302
2      190
3      204
999      9
Name: N6CONTRL, dtype: int64
1      301
2      189
3      204
888      2
999      9
Name: N8JEALUS, dtype: int64
1       259
2       210
3       204
9999      1
888      23
999       8
Name: N10CPBLE, dtype: int64

In [12]:
# change dfa to df to match conventions of prepare.py
df = dfa
#use prepare function to rename features 
prepare.rename_columns(df)

In [13]:
# ensure renaming of features worked
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705 entries, 0 to 704
Data columns (total 44 columns):
id                              705 non-null int64
abuse_past_year                 705 non-null int64
abuse_status                    705 non-null int64
length_relationship             705 non-null int64
partner_abusive                 705 non-null int64
num_abusers                     705 non-null int64
num_children                    705 non-null int64
pregnant                        705 non-null int64
beaten_while_pregnant           705 non-null int64
support_score                   705 non-null int64
guns_in_home                    705 non-null int64
jealous_past_year               705 non-null int64
limit_fam_contact               705 non-null int64
location_tracking               705 non-null int64
threat_hit                      705 non-null int64
thrown_obj                      705 non-null int64
push_shove                      705 non-null int64
slap                            705 non-null int64
kick_punch                      705 non-null int64
hit_obj                         705 non-null int64
beaten                          705 non-null int64
choked                          705 non-null int64
threat_knife                    705 non-null int64
threat_gun                      705 non-null int64
rape_w_threat                   705 non-null int64
power_scale                     705 non-null int64
harass_scale                    705 non-null int64
id_age                          705 non-null int64
age_disparity                   705 non-null int64
children_not_partner            705 non-null int64
same_sex_rel                    705 non-null int64
partner_drug_use                705 non-null int64
partner_alc_use                 705 non-null int64
threat_suicide                  705 non-null int64
partner_reported_child_abuse    705 non-null int64
partner_arrested                705 non-null int64
violence_increased              705 non-null int64
severity_increased              705 non-null int64
weapon_ever                     705 non-null int64
choked_ever                     705 non-null int64
rape_ever                       705 non-null int64
controlled_ever                 705 non-null int64
jealous                         705 non-null int64
capable_murder                  705 non-null int64
dtypes: int64(44)
memory usage: 247.9 KB

In [14]:
# run function to replace nonvalues and change values to conventionally boolean archetypes
prepare.replace_nonvals(df)

In [15]:
# check value counts to establish things worked
prepare.value_counts(df)

0    208
1    497
Name: abuse_past_year, dtype: int64
0    250
1    455
Name: abuse_status, dtype: int64
1    159
2    153
3     83
4    105
5    147
6     58
Name: length_relationship, dtype: int64
0    300
1    405
Name: partner_abusive, dtype: int64
1    672
2     33
Name: num_abusers, dtype: int64
0      339
1      136
2      226
555      1
666      1
999      2
Name: num_children, dtype: int64
0    631
1     74
Name: pregnant, dtype: int64
0    575
1    130
Name: beaten_while_pregnant, dtype: int64
0     122
1      30
5      28
6      35
7      47
8      57
10     98
11    134
12    154
Name: support_score, dtype: int64
0    681
1     24
Name: guns_in_home, dtype: int64
0    217
1    488
Name: jealous_past_year, dtype: int64
0    368
1    337
Name: limit_fam_contact, dtype: int64
0    242
1    463
Name: location_tracking, dtype: int64
0    330
1    375
Name: threat_hit, dtype: int64
0    469
1    236
Name: thrown_obj, dtype: int64
0    268
1    437
Name: push_shove, dtype: int64
0    377
1    328
Name: slap, dtype: int64
0    425
1    280
Name: kick_punch, dtype: int64
0    527
1    178
Name: hit_obj, dtype: int64
0    483
1    222
Name: beaten, dtype: int64
0    473
1    232
Name: choked, dtype: int64
0    593
1    112
Name: threat_knife, dtype: int64
0    636
1     69
Name: threat_gun, dtype: int64
0    530
1    175
Name: rape_w_threat, dtype: int64
0      120
1      101
2       83
3      107
4      116
5      175
999      3
Name: power_scale, dtype: int64
0     156
1      90
2      66
3      63
4      43
5      60
6      55
7      38
8      29
9      21
10     26
11     13
12     16
13     13
14      9
15      3
16      1
17      3
Name: harass_scale, dtype: int64
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: id_age, dtype: int64
-1    143
 0    408
-3     15
 1     41
-2     81
 2     17
Name: age_disparity, dtype: int64
1      171
2      337
3       14
4        3
5      173
6        2
7        2
999      3
Name: children_not_partner, dtype: int64
0    686
1     19
Name: same_sex_rel, dtype: int64
0    505
1    200
Name: partner_drug_use, dtype: int64
0    420
1    285
Name: partner_alc_use, dtype: int64
0    576
1    129
Name: threat_suicide, dtype: int64
0    675
1     30
Name: partner_reported_child_abuse, dtype: int64
0    330
1    375
Name: partner_arrested, dtype: int64
0    520
1    185
Name: violence_increased, dtype: int64
0    516
1    189
Name: severity_increased, dtype: int64
0    520
1    185
Name: weapon_ever, dtype: int64
0    430
1    275
Name: choked_ever, dtype: int64
0    488
1    217
Name: rape_ever, dtype: int64
0    403
1    302
Name: controlled_ever, dtype: int64
0    404
1    301
Name: jealous, dtype: int64
0    446
1    259
Name: capable_murder, dtype: int64